<footer class="page-footer hide-on-small-only">
        <div class="container w-90">
            <div class="row">
                <div class="col l2 s12  ">
                    <img class=" img-foot" src="img/logo1.png"  >
                </div>
                <div class="col l2   s12">
                    <h6 class="white-text"><strong>SINERGI-BUMN</strong></h6>
                    <ul>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Tentang Kami</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Karir</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Blog</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Media Kit</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Pesan Tiket Kereta</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Kegiatan Kami</a></li>
                    </ul>
                </div>
                <div class="col l2   s12">
                    <h6 class="white-text"><strong>SINERGI-BUMN</strong></h6>
                    <ul>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Tentang Kami</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Karir</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Blog</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Media Kit</a></li>
                    </ul>
                </div>
                <div class="col l2   s12">
                    <h6 class="white-text"><strong>SINERGI-BUMN</strong></h6>
                    <ul>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Tentang Kami</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Karir</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Blog</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Media Kit</a></li>
                    </ul>
                </div>
                <div class="col l2   s12">
                    <h6 class="white-text"><strong>Bantuan</strong></h6>
                    <ul>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Syarat dan Ketentuan</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Kebijakan Privasi</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Pusat Resolusi</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Hubungi Kami</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Pesan Tiket Kereta</a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!">Panduan Keamanan</a></li>
                    </ul>
                </div>
                <div class="col l2   s12">
                    <h6 class="white-text"><strong>Download Aplikasi :</strong></h6>
                    <ul class="m-t-40">
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!"><img  width="140" src="img/google1.png"></a></li>
                        <li><a class="grey-text f-w-300 text-lighten-3" href="#!"><img  width="140"   src="img/appstore1.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container  w-90">
                © 2017  <img src="img/foot-icon+.png" width="100px">
                <a class="grey-text text-lighten-4 right" href="#!">Server process time: 0.063 secs</a>
            </div>
        </div>
    </footer>
   
    </body>

</html>