<!DOCTYPE html>
<html>

<head>
    <title>Sinergi BUMN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2-materialize.css">

    <link rel="stylesheet" type="text/css" href="css/nouislider.css">
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" />
      <link rel="stylesheet" type="text/css" href="css/dropify.css" /> 
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/dropify.min.js"></script> 
    <script type="text/javascript" src="js/nouislider.min.js"></script> 

    <script type="text/javascript" src="js/wNumb.min.js"></script> 
    <script type="text/javascript" src="js/moment.js"></script> 
    
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="black_overlay" style="display: none;"></div> 
    <nav> 
        <div class="nav-wrapper nav-top-stl after_login">
            <div class="row m-b-0">
                <div class="col s3">
                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <a href="#" class="brand-logo sinergi-logo" target="_blank"><img src="img/logo2.png"  ></a>
                </div>
                <div class="col s9 ">
                    <ul class="nav_after">
                        <li> <a class=" waves-effect   waves-light " href="#"><img class="circle  img_user"  src="img/place.jpg">  </a><span class="material-icons">arrow_drop_down</span> </li>
                        <li class="notification_not"><a class="waves-effect   waves-light" href="#"><i class="material-icons">notifications</i><span class="notification ">1</span></a></li>
                        <li><a class="waves-effect   waves-light" href="cart"><i class="material-icons">shopping_cart</i><span class="notification ">1</span></a></li>

                    </ul> 
                </div>
                <div class="right  after_login_container " >
                    <ul class="  notification_container   " id="notification" style="display: none;">
                        <div class="arrow-up hide-on-small-only"></div>
                        <li class="notif_info  bg-grey"><h6  class="text-grey fn-14 m-t-5">4 Notification</h6></li>
                        <li class="l-h-0">
                            <ul class="scrolling">
                                <li >
                                    <div class="row m-b-0 padding10-5">
                                         <div class="col s4 l-h-0 p-l-0 p-r-0">
                                             <div class="container_img_notif">
                                                <img src="img/trr1.png"    > 
                                             </div>
                                         </div>
                                         <div class="col s8 l-h-0  p-l-0 p-r-0">
                                             <h6>Jasa Angkutan </h6>
                                             <p>Jasa Angkutan Surabaya-Denpasar </p>
                                             <span>Selasa, 20-11-17 20:55</span>
                                         </div>
                                    </div>
                                </li>
                                <li >
                                    <div class="row m-b-0 padding10-5">
                                         <div class="col s4 l-h-0 p-l-0 p-r-0">
                                             <div class="container_img_notif">
                                                <img src="img/trr1.png"    > 
                                             </div>
                                         </div>
                                         <div class="col s8 l-h-0  p-l-0 p-r-0">
                                             <h6>Jasa Angkutan </h6>
                                             <p>Jasa Angkutan Surabaya-Denpasar PIC Budi Santoso </p>
                                             <span>Selasa, 20-11-17 20:55</span>
                                         </div>
                                    </div>
                                </li>
                                <li >
                                    <div class="row m-b-0 padding10-5">
                                         <div class="col s4 l-h-0 p-l-0 p-r-0">
                                             <div class="container_img_notif">
                                                <img src="img/trr1.png"    > 
                                             </div>
                                         </div>
                                         <div class="col s8 l-h-0  p-l-0 p-r-0">
                                             <h6>Jasa Angkutan </h6>
                                             <p>Jasa Angkutan Surabaya-Denpasar PIC Budi Santoso </p>
                                             <span>Selasa, 20-11-17 20:55</span>
                                         </div>
                                    </div>
                                </li>   
                            </ul>
                        </li>
                        <li class="nopadding show_all_notif"><<a class="nomargin" href="see_all_not">Show All Notification</a></li>
                    </ul> 
                </div>
            </div>
        </div> 
         <div class="nav-wrapper nav-top-stl after_login">
            <div class="row m-b-0">
                <div class="col s3">
                    <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
                    <a href="#" class="brand-logo sinergi-logo" target="_blank"><img src="img/logo2.png"  ></a>
                </div>
                <div class="col s9 ">
                    <ul class="nav_after">
                        <li> <a class=" waves-effect profile-setting   waves-light  hide-on-small-only " href="#"><img class="circle  " width="45px" src="img/place.jpg"  >  </a><span class="material-icons">arrow_drop_down</span> </li>
                        <li class="notification_not"><a class="waves-effect   waves-light" href="#"><i class="material-icons">notifications</i><span class="notification ">1</span></a></li>
                        <li><a href="cart" class="waves-effect   waves-light" href="#"><i class="material-icons">shopping_cart</i><span class="notification ">1</span></a></li>

                    </ul> 
                </div>

                <div class="right    hide-on-small-only" > 
                    <ul class="  notification_container profil_login  " id="setting-profile" style="display: none;">
                        <div class="arrow-up"></div>
                        <li >  
                             <a class="progressprofile" href="#">   <span>Nama Profil</span> Budi santoso</a> 
                            <div class="col s12">
                                <p class="kelprofile">kelengkapan profile<span>70%</span></p>
                                <div class="progress ">
                                      <div class="determinate" style="width: 70%"></div>
                                </div> 
                            </div>
                            <div class="col s12 lengprof ">
                                <a href="setting_account">Lengkapi Profile Anda</a>
                            </div> 
                        </li>
                         <li   class="hover">  
                             <a href="setting_account"><i class="material-icons">settings</i> Setting Profile</a> 
                        </li>
                          <li   class="hover">  
                             <a href="result"><i class="material-icons">power_settings_new</i> Logout</a> 
                        </li>
                        
                    </ul> 
                </div>
            </div>
        </div>  

        <ul class="side-nav grey lighten-5" id="mobile-demo"> 
            <!-- mobile view -->
            <li class="sidenav-header p-b-10 bg-primary-gradient not_login hide  show-on-small">
                <div class="row">
                    <div class="col s12 center-align">
                        <img src="img/place.jpg" width="100px" height="100px" alt="" class="circle responsive-img valign profile-image">
                    </div>
                    <div class="col s12 center-align ">
                        <a href="login" class="waves-effect waves-dark btn btn-white">Login</a>
                        <a href="signup" class="waves-effect waves-dark btn btn-white-outline m-l-0">Signup</a>
                    </div>
                </div>
            </li>

       

            <li class="sidenav-header p-b-10 bg-primary-gradient login    show-on-small">
                <div class="row">
                    <div class="col s4 left-align">
                        <img src="img/place.jpg" width="90px" height="100px" alt="" class="circle responsive-img valign profile-image">
                    </div>
                    <div class="col s8 left-align login_user_sidebar ">
                        <h6>PT Pos Indonesia</h6>
                        <p>Bayu Salman</p>
                        <p><i>verified<img src="img/sidebar/icon_verified.png"></i> </p>
                    </div>
                </div>
            </li>  
           <!-- end -->


            <li class="sidenav-header p-b-0 p-t-10 bg-primary-gradient  hide-on-small-only  ">
                <div class="row">
                    <div class="col s12 center-align  ">
                        <img src="img/logo1.png"  alt="" >
                    </div> 
                </div>
            </li>

            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                     <li>
                        <a href="/" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_truck.png"  >Cari Data Fleet <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                    <li>
                        <a href="daftar_jasa_fleet" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_daf.png"  > Daftar Jasa Fleet <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li> 

            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a href="daftar_transaksi_fleet" class="collapsible-header waves-effect waves-blue"><img src="img/sidebar/ic_data.png" > Daftar Transaksi  <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li>
            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a  href="contact_us" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_telp.png"  >  Hubungi Kami  <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li> 
            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a  href="help" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_help.png"  >  Bantuan <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li> 
           
        </ul>
    </nav>
    <script type="text/javascript">
 
$(document).ready(function() {
   
   
});
 

    </script>