<!DOCTYPE html>
<html>

<head>
    <title>Sinergi BUMN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2-materialize.css">


    <link rel="stylesheet" type="text/css" href="css/nouislider.css">
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css" /> 
    <link rel="stylesheet" type="text/css" href="css/style.css">


    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    
    <script type="text/javascript" src="js/nouislider.min.js"></script> 
    <script type="text/javascript" src="js/wNumb.min.js"></script> 
    <script type="text/javascript" src="js/moment.js"></script> 
    
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body>
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="black_overlay" style="display: none;"></div>
     
    <nav>
     
        <div class="nav-wrapper nav-top-stl before_login">
            <a href="#" data-activates="mobile-demo" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
            <a href="#" class="brand-logo sinergi-logo" target="_blank"><img src="img/logo2.png"  ></a>
            <div class="right   hide-on-small-only">
                <a href="signup" class="p-r-20 text-white f-w-300 ">Signup</a>
                <a href="#" class="waves-effect waves-light btn btn-netral-white z-depth-1   login_btn">Login</a>

                <div class="login-form " style="display: none;">
                 <form  action="/" >
                    <div class="row f-lg">
                   
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate" required="" aria-required="true" placeholder="Input email or User Name">
                            <label for="email" data-error="Please enter your Email or Username.">Username or Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate" required="" aria-required="true" placeholder="Enter Your Password">
                            <label for="password" data-error="Please enter your Password">Password</label>
                        </div>
                        <div class="input-field col s12 lh-1-2   ">
                            <a href="forgot_password" class="text-primary right">Forgot Password ?</a>
                        </div>
                        <div class="input-field col s12 lh-1-2 center-align  ">


                            <button  class="waves-effect waves-light btn btn-primary   btn-block" type="submit">Login</button>



                            <button  onclick="location.href='signup'" type="button" class="waves-effect waves-light btn btn-warning   btn-block ">Sign Up</a>
                        </div>
                    
                    </div>
                    </form>
                </div>
            </div>
        </div>
    
         




        <ul class="side-nav grey lighten-5" id="mobile-demo"> 
            <li class="sidenav-header p-b-10 bg-primary-gradient not_login hide  show-on-small">
                <div class="row">
                    <div class="col s12 center-align">
                        <img src="img/place.jpg" width="100px" height="100px" alt="" class="circle responsive-img valign profile-image">
                    </div>
                    <div class="col s12 center-align ">
                        <a href="#" class="waves-effect waves-dark btn btn-white">Login</a>
                        <a href="signup" class="waves-effect waves-dark btn btn-white-outline m-l-0">Signup</a>
                    </div>
                </div>
            </li>
            

            <li class="sidenav-header p-b-0 p-t-10 bg-primary-gradient    ">
                <div class="row">
                    <div class="col s12 center-align  ">
                        <img src="img/logo1.png"  alt="" >
                    </div> 
                </div>
            </li>

           <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                     <li>
                        <a href="/" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_truck.png"  >Cari Data Fleet <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                    <li>
                        <a href="daftar_jasa_fleet" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_daf.png"  > Daftar Jasa Fleet <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li> 

            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a href="daftar_transaksi_fleet" class="collapsible-header waves-effect waves-blue"><img src="img/sidebar/ic_data.png" > Daftar Transaksi  <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li>
            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a  href="contact_us" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_telp.png"  >  Hubungi Kami  <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li> 
            <li class="white">
                <ul class="collapsible colaps_sidebar collapsible-accordion">
                    <li>
                        <a  href="help" class="collapsible-header waves-effect waves-blue"> <img src="img/sidebar/ic_help.png"  >  Bantuan <i class="material-icons right" style="margin-right:0;">navigate_next</i></a> 
                    </li>
                </ul>
            </li>  
           
           
        </ul>
    </nav>
    <script type="text/javascript">
  
 
    </script>