@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/material-icon.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
body,
html {
    font-family: 'Montserrat', sans-serif!important;

    background-repeat: no-repeat;
    background-position: -15% 80%;
    background-size: 50%;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
    /* or add it to the track */
}


/* Add a thumb */

body::-webkit-scrollbar-thumb {
    background: #dedede;
}

h6 {
    font-size: 16px;
}

.borderradius{
    border-radius: 5px!important;
}
/*padding and margin*/

.nopadding {
    padding: 0px!important;
}
.padding510 {
    padding: 5px 10px!important;
}

.tab_space {
    display: inline-block;
    margin-left: 40px;
}

.p-r-0 {
    padding-right: 0px!important;
}

.p-r-5 {
    padding-right: 5px!important;
}

.p-r-10 {
    padding-right: 10px!important;
}

.p-r-20 {
    padding-right: 20px!important;
}

.p-l-0 {
    padding-left: 0px!important;
}

.p-l-5 {
    padding-left: 5px!important;
}

.p-l-10 {
    padding-left: 10px!important;
}

.p-l-20 {
    padding-left: 20px!important;
}

.p-l-30 {
    padding-left: 30px!important;
}

.p-l-40 {
    padding-left: 40px!important;
}

.p-t-0 {
    padding-top: 0px!important;
}
.p-t-5 {
    padding-top: 5px!important;
}

.p-t-10 {
    padding-top: 10px!important;
}

.p-t-20 {
    padding-top: 20px!important;
}

.p-b-0 {
    padding-bottom: 0px!important;
}

.p-b-10 {
    padding-bottom: 10px!important;
}

.p-b-20 {
    padding-bottom: 20px!important;
}

.p-b-40 {
    padding-bottom: 40px!important;
}

.padding5 {
    padding: 5px!important;
}

.padding10-5 {
    padding: 10px 5px!important;
}

.m-b-0 {
    margin-bottom: 0px!important;
}
.m-b-5 {
    margin-bottom: 5px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-t-0 {
    margin-top: 0px!important;
}

.m-t-20 {
    margin-top: 20px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

.m-t-35 {
    margin-top: 35px!important;
}

.m-t-40 {
    margin-top: 40px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-t-5 {
    margin-top: 5px!important;
}

.m-t-10 {
    margin-top: 10px!important;
}

.m-t-40 {
    margin-top: 40px!important;
}

.m-b-140 {
    margin-bottom: 140px!important;
}

.m-b-200 {
    margin-bottom: 200px!important;
}

.m-t--20 {
    margin-top: -20px!important;
}

.m-auto {
    margin: auto!important;
}

.m-l-5 {
    margin-left: 5px!important;
}

.m-l-10 {
    margin-left: 10px!important;
}

.m-t-13 {
    margin-top: 13px!important;
}

.m-l-20 {
    margin-left: 20px!important;
}

.m-l-30 {
    margin-left: 30px!important;
}

.m-l-0 {
    margin-left: 0px!important;
}

.m-r-0 {
    margin-right: 0px!important;
}

.m-r-5 {
    margin-right: 5px!important;
}

.m-r-10 {
    margin-right: 10px!important;
}

.m-l-10 {
    margin-left: 10px!important;
}

.w-100 {
    width: 100%;
}

.w-80 {
    width: 80%;
}

.w-90 {
    width: 90%;
}

.l-h-0 {
    line-height: 0!important;
}

.l-h-2 {
    line-height: 2!important;
}

.l-h-3 {
    line-height: 3!important;
}

.f-w-300 {
    font-weight: 300!important;
}

.f-w-400 {
    font-weight: 400!important;
}

.bg-primary {
    background: #004984!important;
}

.bg-danger {
    background: #c40000!important;
}

.bg-white {
    background: #ffffff!important;
}

.bg-grey {
    background: #dedede!important;
}

.bg-success {
    background: #2fa01e!important;
}

.border-full {
    border: 1px solid #dedede;
}

.border-top-no {
    border-top: 0px solid #dedede!important;
}

.bor-right {
    border-right: 1px solid #dedede;
}

.bor-left {
    border-left: 1px solid #dedede;
}

.bor-bot {
    border-bottom: 1px solid #dedede;
}

.bor-grey {
    border: 1px solid #dddddd;
}

.inline-block {
    display: inline-block!important;
}

.no-shadow {
    box-shadow: none!important;
}

.show {
    display: block;
}

.block {
    display: block;
}

.lite {
    font-weight: 300!important;
}

.left {
    float: left!important;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    color: #004984!important;
    border-bottom: 2px solid #004984;
}

.b-b-grey {
    border-bottom: 1px solid #dedede;
}

.b-b-0 {
    border-bottom: 0px solid #dedede!important;
}
.d-inline{
    display: inline-block!important;
}
.container-register .row {
    margin-bottom: 0px!important;
}

.normal-select>div>input.select-dropdown {
    border-bottom: 1px solid #9e9e9e!important;
    line-height: 2.4em!important;
    height: 2.4em!important;
    margin-bottom: 0px!important;
}

.normal-select label {
    color: #004984;
}

.full-height {

    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: #dedede;
}

.bg-primary-gradient {
    background: #004984!important;
}

.z-depth-smoth {
    -webkit-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.42);
    -moz-box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.42);
    box-shadow: 0px 2px 19px 0px rgba(0, 0, 0, 0.42);
}


/*end*/


/*component*/

button {
    border-width: 0px;
}

.button:focus {}

.btn-primary {
    background-color: #004984!important;
    z-index: 5;
    box-shadow: none;
    color: #ffffff!important;
}
.nomargin{
    margin: 0px!important;  
}
.btn-small {
    height: 24px;
    line-height: 24px;
    margin-top: 2px;
    padding: 0 1.5rem;
}
.bg-warning {
    background-color: #d68013!important;
}
.btn-warning {
    background-color: #d68013!important;
    z-index: 5;
    color: #ffffff!important;
    box-shadow: none;
    font-size: 12px;
}
.btn-danger {
    background-color: #c40000!important;
    z-index: 5;
    color: #ffffff!important;
    box-shadow: none;
    font-size: 12px;
}


.btn-netral {
    background-color: transparent!important;
    z-index: 5;
    border: 1px solid #dedede;
    color: #757575!important;
    box-shadow: none;
    font-size: 12px;
    text-transform: unset;
}

.btn-netral-white {
    background-color: transparent!important;
    z-index: 5;
    border: 1px solid #dedede;
    color: #FFF!important;
    box-shadow: none;
    font-size: 12px;
    text-transform: unset;
}

.btn-white {
    background-color: #ffffff!important;
    z-index: 5;
    line-height: 2.5;
    box-shadow: none;
    border: 2px solid #fff;
    color: #004984!important;
    text-transform: unset;
}

.btn-white-outline {
    background-color: transparent!important;
    border: 2px solid #fff;
    z-index: 5;
    box-shadow: none;
    color: #fff!important;
    line-height: 29px;
    text-transform: unset;
}

.btn-netral:hover {
    box-shadow: none;
}

.btn-warning-outline {
    background-color: transparent!important;
    border: 2px solid #d68013;
    z-index: 5;
    line-height: 30px;
    color: #d68013!important;
    box-shadow: none;
    font-size: 12px;
    font-weight: 400;
}

.btn-primary-outline {
    background-color: transparent!important;
    border: 2px solid #004998;

    color: #004998!important;
    box-shadow: none;

    font-weight: 400;
}

.btn-block {
    width: 100%;
}

.bg-primary {
    background-color: #004984!important;
}

.text-primary {
    color: #004984!important;
}

.text-warning {
    color: #d68013!important;
}

.text-white {
    color: #fff;
}

.text-grey {
    color: #757575!important;
}

.text-light {
    font-weight: 300!important;
}
.fn-16{
    font-size: 16px!important;
}

.bg-trnsprt {
    background: rgba(0, 0, 0, .3);
}

.bg-transparent {
    background: transparent!important;
}

.unset {
    text-transform: unset;
}


/*end*/

.side-nav li>a {
    padding: 0 16px;
}

.side-nav .divider {
    margin: 0;
    height: 8px;
    border-bottom: 1px solid #e0e0e0;
    background-color: transparent;
}

.sidenav-header {
    background: url("../images/user-bg.jpg") no-repeat center center;
    background-size: cover;
    margin-bottom: 0px;
    padding: 15px 0 0 0px;
}

.sidenav-header .row {
    margin-bottom: 0;
}

.sidenav-footer {
    margin-bottom: 0px;
    padding: 0;
}

.sidenav-footer .row {
    margin-bottom: 0;
}

.sidenav-footer .row .social-icons a {
    opacity: 0.5;
    padding: 0;
    text-align: center;
}

.sidenav-footer .row .social-icons a:hover {
    background-color: inherit;
    opacity: 1;
}

.nav-top-stl {
    position: fixed!important;
    width: 100%!important;
    height: auto!important;
    z-index: 8;
    height: initial!important;
    background-color: #004984;
    padding: 0 40px;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);
}

.sinergi-logo img {
    position: relative;
    top: 5px;
}

.form-search-all {
    position: relative;
    top: -90px;
}

.form-search-all .form-inner {
    border: 4px solid #004984;
}

.form-search-all .fm-container {
    padding: 20px 20px;
    display: inline-block;
}

.fm-container .fm-group {
    border: 1px solid #dedede;
    margin-top: 0px;
    padding-top: 5px;
}

.fm-group>.fm-input {
    margin-top: 0px;
}

.fm-group>.fm-input>input {
    border: none;
    margin-bottom: 0px;
    color: #757575;
    font-weight: 400;
    border-bottom: 0px solid #fff!important;
    box-shadow: none!important;
}

.fm-input>label {
    color: #004984!important;
}

.fm-input input[type=text]:focus+label {
    color: #004984!important;
}

.fm-input>input:focus {
    border-bottom: 0px solid #004984 !important;
    box-shadow: 0 0px 0 0 #004984 !important;
}

.carousel-item {
    background-size: cover!important;
}

.carousel-item img {

    width: 90%;
}

.transparent {
    background: transparent!important;
}

.fm-group img {
    margin-top: 10px;
}

.select2-search input[type=search]:focus {
    border-bottom: 1px solid #004984 !important;
}

.select-wrapper input.select-dropdown {
    border-bottom: 0px solid #000;
    font-size: 1em;
    color: #757575;
    height: 1.9em;
}

.fm-multiple input {
    margin-bottom: .3em!important;
}

.btn-form {
    margin-top: 25px;
    color: #ffffff;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    background: #d68013;
    font-weight: 300;
}

.btn-form>i {
    margin-right: 5px;
    line-height: 1.2;
}

.btn_tabs>img {
    top: 4px;
    left: -5px;
}

.page-footer {
    position: static;
    bottom: 0;
    background: #004984!important;
}

.login-form {
    position: absolute;
    margin-top: 4px;
    right: 30px;
    z-index: 6;
    display: inline-block;
    width: 290px!important;
    -webkit-box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 13px -3px rgba(0, 0, 0, 0.75);

    background: #fff;
}

.login-form>div>div>input {
    border-bottom: 1px solid #dedede!important;
    height: 3.6em!important;
    margin-bottom: 0px!important;
}

.login-form input {
    color: #757575;
}

.login-form>div>div>label {
    top: 0px;
}

.black_overlay {
    width: 100%;
    height: 120vh;
    position: fixed;
    z-index: 8;
    background: rgba(0, 0, 0, .5);
}

.f-lg {
    padding: 10px 10px;
    margin-bottom: 0px;
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader-background-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.preloader-background-2>img {
    display: block;
}

.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below {
    top: -30px;
    z-index: 5;
}

.return-btn {
    position: absolute;
    left: 21%;
    right: inherit;

    margin-top: 5px;
}

.return-btn>a>img {
    width: 90%;
}

.card-ds {
    position: relative;
    width: 100%;

    overflow: hidden;
}

.card-ds>img {
    position: relative;
    width: 160%;

    z-index: 0;
}

.tiitle-ds {

    position: absolute;
    bottom: 0px;
    z-index: 1;
    height: 60px;
    width: 100%;
    background: rgba(51, 51, 51, .8);
    padding: 5px;
}

.date-card {
    font-size: 11px;
}

.main-dashboard {
    position: relative;
    top: -60px;
}

.img-foot {
    margin-top: 15%;
}

body.register {
    background: #dedede;
    background-image: url(../img/bg_login.jpg);
    background-size: cover;
}

body.dasboard {
    background-image: url(../img/bg.png);
}


.tabs .indicator {
    background-color: #e0f2f1;
    height: 60px;
    opacity: 0.3;
}

.form-container {
    padding: 40px 30px 20px 30px;
    padding-top: 10px;
}

.confirmation-tabs-btn {
    position: absolute;
}

.container-register {
    margin-top: 40px;
    width: 400px;
}

section.breadcump {
    background-color: #e8e8e8;
}

.rslt-breadcump {
    padding: 20px 0px 15px 0px !important;
}

.rslt-breadcump a {
    font-size: 18px;
    font-weight: 400;
    color: #004984;
}

.multiple-filter>span {
    position: relative;
}

.monthselect {
    display: block;
    float: left!important;
}

.yearselect {
    display: block;
}

input[type="date"],
input[type="date"]:hover {
    pointer-events: none !important;
}

.daterangepicker {
    display: none;
}

.daterangepicker_input {
    display: none!important;
}

.calendar-table {
    border-right: 1px solid #fefefe;
}

.pst {
    top: 567px!important;
}


.input-group-radio {
    margin-top: 11px!important;
    padding: 5px 0px 6px 0px!important;
    border: 1px solid #dedede!important;
}

.input-group-radio p {
    padding-left: 20px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 2px;
}


/*result*/

.multiple-filter>span {
    position: relative;
    left: 40%;
}

.multiple-filter .dropdown-content {
    width: 250px!important;
    overflow-x: hidden;
}

.tabblesort {
    padding-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.tabblesort div a {
    font-weight: 400!important;
    font-size: 11.5px;
    color: #757575;
}

.rs-sort0 {
    margin-bottom: 15px;
}

.sort-tb1 {
    height: 20px;
}

.img-result {
    overflow: hidden;
    display: inline-block;
    height: 125px;
}

.img-result img {
    width: 250px;
    position: relative;
    top: -28px;
}

.n_C {
    position: relative;
    text-align: center;
    width: 110%;
    padding: auto;
    font-size: 12px;
    margin: auto;
    z-index: 1;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    padding: 5px 0px;
}

.result-container {
    border: 1px solid #dedede;
    padding-bottom: 0px;
}

.result_tj {
    padding-top: 20px!important;
}

.result_tj h5,
.result_tj h6 {
    text-align: center;
    color: #004986;
}

.img-result {
    padding-left: 0px!important;
}

.tj_dewak {
    color: #757575!important;
    font-weight: 300;
    font-size: 14px;
}

.tj_wak {
    margin-top: 6px;
    margin-bottom: 10px;
}

.tj_tuj {
    font-size: 14px;
    font-weight: 300;
}

.tj_dr {
    padding-top: 30px!important;
}

.ket_rs,
.ket_rs_btn {
    padding-top: 15px!important;
}

.ket_rs span {
    color: #757575;
    font-weight: 300;
    margin-left: 10px;
    margin-bottom: -5px;
}

.ket_rs img {
    position: relative;
    bottom: -5px;
    width: 15px;
}

.ct_ktr {
    padding-left: 0px;
    padding-bottom: 10px;
}

.result-container {
    cursor: pointer;
}

.load_result {
    border: 1px solid #dedede;
    height: 220px;
    background: url('../img/loader-2.gif') 50% 50% no-repeat #fefefe;
    background-size: 20%;
}

.progress {
    background: #dedede!important;
}

.img_fleet {
    position: absolute;
    margin-top: 2.5%;
    margin-left: -2.8%;
}

.result_dt_1 {
    border-bottom: 1px solid #dedede;
}

.result_dt_1>.tab>a {
    color: #757575;
}

.result_dt_1>.tab>a:hover,
.result_dt_1>.tab>a.active {
    color: #004986;
}

.result_dt_1>.tab>a.active {
    border-bottom: 4px solid #004986;
}

.result_dt_1 .indicator {
    background-color: transparent;
    opacity: 1;
    border-bottom: 4px solid #004986;
}

#deskripsi h5 {
    font-size: 16px;
    color: #004986;
}

.bl {
    border-left: 1px solid #dedede;
}

.fas_ltp img {
    width: 25px;
}

.fas_ltp li {
    margin-top: 5px;
}

.fas_ltp span {
    position: relative;
    bottom: 8px;
    left: 10px;
    color: #004986;
}

.fas_ltp i {
    color: #34960f;
}

.noun h5 {
    font-size: 15px;
    color: #004986;
}

.noun ul {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    display: inline-block;
}

.noun li {
    margin-top: 10px;
}

.del_form_order {
    padding-bottom: 13px!important;
}

.fm-multiple {
    margin-bottom: 10px;
}

.tabblesort img {
    position: relative;
    right: -20px;
    top: 2px;
}


.height-trtn {
    height: 250px;
}

.close-alert {
    position: relative;
    top: 10px;
    right: 10%!important;
    font-size: 20px;
}

.verify_account {

    padding: 10px;
    font-size: 14px;
    z-index: 9;
    background: #d68013;
    color: #ffffff;
}

.verify_account h6 {
    font-size: 14px;
    font-weight: 400;
}


/*Timeline fuxk*/

.timeline-horizontal {
    margin-top: 5px;
    display: inline-block;
    float: right;
}

.timeline-horizontal ul li {
    float: right;
}

.timeline-horizontal ul li hr {
    padding-right: 60px;
    line-height: 1px;
    border: 1px solid #757575;
}

.timeline-horizontal ul li hr.active {
    padding-right: 60px;
    line-height: 1px;
    border: 1px solid #004986;
}

.timeline-horizontal ul li a {
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 11px;
    color: #fff;
    background: #757575
}

.timeline-horizontal ul li span.or {
    position: absolute;
    margin-left: -5px;
    font-weight: 300;
    margin-top: 3px;
    color: #004986;
}

.timeline-horizontal ul li span.fin {
    position: absolute;
    margin-left: -10px;
    font-weight: 300;
    margin-top: 3px;
    color: #757575;
}

.timeline-horizontal ul li span.fin.active {
    position: absolute;
    margin-left: -10px;
    font-weight: 300;
    margin-top: 3px;
    color: #004986;
}

.timeline-horizontal ul li span.kon {
    position: absolute;
    margin-left: -22px;
    font-weight: 300;
    margin-top: 3px;
    color: #757575;
}

.timeline-horizontal ul li span.kon.active {
    position: absolute;
    margin-left: -22px;
    font-weight: 300;
    margin-top: 3px;
    color: #004986;
}

.timeline-horizontal ul li span.rev {
    position: absolute;
    margin-left: -8px;
    font-weight: 300;
    margin-top: 3px;
    color: #757575;
}

.timeline-horizontal ul li span.rev.active {
    position: absolute;
    margin-left: -5px;
    font-weight: 300;
    margin-top: 3px;
    color: #004986;
}

.timeline-horizontal ul li span.d-or {
    position: absolute;
    margin-left: -20px;
    font-weight: 300;
    margin-top: 3px;
    color: #757575;
}

.timeline-horizontal ul li span.d-or.active {
    position: absolute;
    margin-left: -20px;
    font-weight: 300;
    margin-top: 3px;
    color: #BFD1E1;
}

.timeline-horizontal ul li a.active {
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 11px;
    color: #fff;
    background: #004986;
}

.timeline-horizontal ul li span.active {
    color: #004986!important;
}

.detail-or {
    background-color: #BFD1E1;
    padding-top: 10px!important;
    padding-right: 10px!important;
    padding-left: 10px!important;
    padding-bottom: 10px!important;
}

.detail-or>div>img {
    width: 28px;
    position: relative;
    top: 2px;
}

.detail-or>div>span {
    position: relative;
    top: -6px;
    left: 10px;
    font-size: 16px;
    color: #004986;
}

.detail-or>div>h5 {
    font-size: 14px;
    text-align: right;
    color: #004986;
}

.side-detail-or>div>h5 {
    font-size: 16px;
    margin-top: 0px;
    color: #d88013;
}

.side-detail-or {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.side-detail-or>div>h6 {
    font-size: 14px;
    color: #004986;
}

.side-detail-or>div>p {
    line-height: 28px;
    font-size: 12px;
    color: #757575;
    font-weight: 300;
}

.sec_or_det>p {
    position: relative;
    top: -5px;
    font-size: 12px;
    color: #757575;
    font-weight: 300;
}

.sec_or_det>p>span {
    font-size: 14px;
    color: #004986;
}

.det_kot_as {
    display: inline-block;
    width: 100%;
}

.det_kot_tj {
    margin-top: 45px;
    display: inline-block;
    width: 100%;
}

.line_kot_dt>img {
    position: relative;
    top: 10px;
}

.space {
    width: 100%;
    height: 20px;
    border-bottom: 1px solid #dedede;
}

.container-img-det {
    height: 240px;
    overflow: hidden;
}

.container-img-det>img {
    width: 150%;
}

.tab_detailcont-nav {
    border-bottom: 1px solid #dedede;
    overflow-x: hidden;
}

.tab_detailcont-nav .tabs .tab {
    width: 20%!important;
}

.tab_detailcont-nav>li>a {
    color: #757575!important;
}

.tab_detailcont-nav>li>a.active {
    color: #004986!important;
}

.tab_detailcont-nav>li.indicator {
    opacity: 1;
    background: transparent;
    border-bottom: 2px solid #004986;
    color: #004986!important;
}

.det_des>p {
    color: #757575!important;
}

.des_tab_sc {
    display: inline-block;
    width: 100%;
}

.form-accordion-detail {
    display: inline-block;
    ;
    width: 100%;
}

.form-accordion-detail>div {
    padding: 10px 15px!important;
    background: #BFD1E1;
}

.form-accordion-detail>div>h6 {
    color: #004986;
}

.form-accordion-detail .collapsible-header {
    background: #dedede;
    color: #004986;
    border-top: 1px solid #fefefe;
    font-size: 15px;
}

.form-accordion-detail .collapsible-body {

    background: #f5f5f5;
}

.select_material_2 .select-dropdown {
    border-bottom: 1px solid #004986!important;
}

.del-order-lab {
    font-size: 12px!important;
    top: -35px!important;
}

.kntk_dtil {
    padding: 10px 15px 20px 15px!important;
}

.kntk_dtil .input-field label {
    font-size: 15px!important;
    top: -3px!important;
}

.colapsible-result ul {

    padding-top: 5px;
    padding-bottom: 0px;

    border: 1px solid #dedede;
    border-radius: 5px;
}



/*error page*/

html#height,
body.error-page {
    height: 100%;
}

body.error-page {
    background: #efefef;


    background-image: url(../img/error/bg1.png);
    background-repeat: no-repeat;
    background-position: -10% 100%;
}

.container-errorpage {
    text-align: center;
    position: relative;

    top: 10%;
}

.p_autorized {
    margin-top: 10px!important;
    font-size: 16px!important;
}

.p_autorized a {
    font-size: 16px!important;
    text-decoration: underline;
}

.container-errorpage img {

    width: 60%;
}

.l503 {
    margin-top: 10px!important;
    font-size: 16px!important;
}

.container-errorpage h4 {
    margin-bottom: 0px;
    font-size: 35px;
    color: #004998;
    font-weight: 600;
}

.container-errorpage p {
    margin: 0px;
    color: #004998;
    font-weight: 400;
    font-size: 20px;
}

.container-errorpage a i {
    position: absolute;
    left: 20px;
    font-size: 25px;
}

.p_autorized_a {
    position: absolute;
    left: inherit!important;
    right: 20px!important;
    font-size: 25px;
}

.container-errorpage a {
    margin-top: 20px;
    width: 20%;
    line-height: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 400;
    font-size: 20px;
}











/*end*/

.colapsible-result>.collapsible {
    margin: 0px;
    padding-top: 0px;
}

.colapsible-result .collapsible-header {
    padding: 5px;

    border-bottom: 1px solid #ddd!important;
    padding-left: 10px;
    border-bottom: none;
}

.sub_filter_result_2 {
    margin-left: 10px;
}

.colapsible-result .collapsible-body {
    padding: 8px 0px!important;


    border-bottom: none;
}

.sub_filter_result,
.sub_filter_result_2 {
    border: none!important;
}

.sub_filter_result>li {
    color: #004984;
}

.colapsible-result .collapsible-header h6 {
    font-size: 14px;
    color: #004984;
}


input.small_checked[type="checkbox"]:checked+label:before {
    width: 8px;
    height: 15px;
}

input.small_checked[type="checkbox"]+label:before,
[type="checkbox"]:not(.filled-in)+label:after {
    width: 13px;
    height: 13px;
}

input.small_checked[type="checkbox"]+label {
    padding-left: 20px;
    font-weight: 400;
    font-size: 12px;
    color: #757575;
    line-height: inherit;
}

.sub_filter_result_2 p {
    margin-top: 5px;
}

.Prs_inpt {
    display: inline-block;
    padding-top: 10px!important;
    border-bottom: 1px solid #dedede;
}

.Prs_inpt ul {
    padding: 0px!important;

    border: none;
}

.Prs_inpt .input-field {
    margin-top: 0px!important;
    padding: 0px 5px 0px 5px !important;
    margin-bottom: 0px!important;
}

.Prs_inpt input {
    color: #757575;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px!important;
}

.Prs_inpt .autocomplete-content {
    margin-top: 0px;
    margin-bottom: 0px!important;
}

.select_satuan input.select-dropdown {
    height: 3em!important;
    font-size: 12px!important;
}

.filter_row {
    margin-right: 0px!important;
    margin-left: 0px!important;
}

.pss p {
    margin: 0px auto;
    padding: 5px 0px!important;
}


.clockpicker-display-column>span.text-primary {
    color: #fff!important;
}

.prst-btn {
    margin-left: 6%!important;
}

.prst-btn>a {
    margin-right: 6px;
}

.footer-copyright img {
    position: relative;
    top: 10px;
}

.colaps_sidebar img {
    width: 21px;
    position: relative;
    top: 5px;
    margin-right: 30px;
}

.colaps_sidebar .collapsible-header {
    border-bottom: 1px solid #dedede;
}

.spacing_side {
    background: #dedede;
    padding-top: 10px;
}

.login {
    padding-left: 10px;
    padding-right: 10px;
}

.login_user_sidebar p {
    margin: 0px;
    font-weight: 300;
    font-size: 12px;
    line-height: 1.5;
}

.login_user_sidebar i {
    margin: 0px;
    height: 10px;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    line-height: 1.5;
}

.login_user_sidebar img {
    position: relative;
    top: 2px;
    left: 10px;
    line-height: 1.5;
}

.login_user_sidebar h6 {
    margin-bottom: 0px;
    font-size: 14px;
}

input.almmteml:not([type]).invalid+label:after,
input.almmteml:not([type]):focus.invalid+label:after,
input.almmteml[type=text]:not(.browser-default).invalid+label:after,
input.almmteml[type=text]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=password]:not(.browser-default).invalid+label:after,
input.almmteml[type=password]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=email]:not(.browser-default).invalid+label:after,
input.almmteml[type=email]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=url]:not(.browser-default).invalid+label:after,
input.almmteml[type=url]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=time]:not(.browser-default).invalid+label:after,
input.almmteml[type=time]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=date]:not(.browser-default).invalid+label:after,
input.almmteml[type=date]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=datetime]:not(.browser-default).invalid+label:after,
input.almmteml[type=datetime]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=datetime-local]:not(.browser-default).invalid+label:after,
input.almmteml[type=datetime-local]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=tel]:not(.browser-default).invalid+label:after,
input.almmteml[type=tel]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=number]:not(.browser-default).invalid+label:after,
input.almmteml[type=number]:not(.browser-default):focus.invalid+label:after,
input.almmteml[type=search]:not(.browser-default).invalid+label:after,
input.almmteml[type=search]:not(.browser-default):focus.invalid+label:after,
textarea.materialize-textarea.invalid+label:after,
textarea.materialize-textarea:focus.invalid+label:after,
.select-wrapper.invalid+label:after {
    line-height: 4;
}

.clockpicker-span-am-pm>div.text-primary {
    color: #fff!important
}


/*end*/


/*timepicker*/

.timepicker_component p {
    margin: 0;
}

.timepicker_component .input-time {
    padding: 5px 10px;
    position: relative;
    border-bottom: 0px solid #dedede;
    cursor: pointer;
    margin-bottom: 5px;
}

.timepicker_component .time-container {
    position: relative;
}

.fromTo {
    float: left;
    width: 50%;
}

.timepicker_component .time-container .drop-time {
    position: absolute;
    z-index: 8;
    background: #fff;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 2px dotted #dcdcdc;
    margin-top: 6px;
}

.timepicker_component .time-container .drop-time .fromTo {
    background: #fff;
}

.timepicker_component .time-container .drop-time .fromTo li {
    list-style: none;
    cursor: pointer;
    font-size: 14px;
}

.timepicker_component .time-container .drop-time .fromTo li:hover {
    background: #DCDCDC;
}

.timepicker_component .time-container .drop-time .fromTo:first-child {
    border-right: 2px solid #DCDCDC;
}

.timepicker_component select {
    display: none;
}

.timepicker_component .bs-caret {
    position: absolute;
    top: 0;
    right: 2px;
    width: 28px;
    height: 28px;
    margin-top: 4px;
    display: block;
    padding: 8px 0px 0px 2px;
    background: -webkit-linear-gradient(left, #00519E, #009EE0);
    background: linear-gradient(to right, #00519E, #009EE0);
    border-radius: 5px;
    border: none;
}

.timepicker_component .bs-caret span {
    transform: rotate(-90deg);
}

.timepicker_component,
.timepicker_component>div {
    padding: 0px!important;
}


ul.nav_after {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 100%;
}

ul.nav_after li {
    line-height: 0px;
    float: right;
    display: inline-block;
}

ul.nav_after li>a:hover {
    background: transparent!important;
}

ul.nav_after>li>span {
    position: relative;
    top: 8px;
    right: 15px;
}

ul.nav_after>li>a>span.notification {
    font-size: 10px;
    padding-top: 10px;
    right: 5px;
    text-align: center;
    width: 20px;
    top: 1px;
    height: 20px;
    position: absolute;
    z-index: 99999;
    background: #BA0F0F;
    border-radius: 50px;
}

ul.notification_container {
    display: inline-block;
    position: absolute;
    top: 68px;
    right: 80px;
    padding: 0px;
    padding-bottom: 5px;
    width: 350px;
    max-height: 374px;
    padding-bottom: 0px;
    -webkit-box-shadow: 0px 10px 37px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 37px -8px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 37px -8px rgba(0, 0, 0, 0.75);
    background: #f4f4f4;
}
.scrolling{
    display: inline-block;
    overflow-y: scroll;
    max-height: 340px;
    line-height: 0px!important;
}
.show_all_notif{
    width: 100%;
    padding: 0px;
    line-height: 0px;
    display: inline-block;
}
.show_all_notif a{
    padding: 20px 10px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    text-align: center;


}

.arrow-up {
    width: 0;
    position: absolute;
    top: -10px;
    right: 25%;
    height: 0;
    z-index: 999;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.s1_not {
    width: 20%;
    float: left;
}

.showall_notif {
    text-align: center;
    border: none!important;
    padding: 15px;
    background: #B6DBFF;
}

.notification_container h6 {
    color: #004984;
    font-size: 14px;
    margin: 0px 0px 5px 0px;
}

.notification_container p {
    margin: 0px;
    color: #757575;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
}

.notification_container span {
    color: #004984;
    font-weight: 300;
    font-size: 11px;
    float: right;
    right: 5px;
    position: relative;
    top: 12px;
}

.container_img_notif {
    width: 90px;
    height: 60px;
    margin-left: 10px;
    display: inline-block;
    overflow: hidden;
}

.container_img_notif>img {
    width: 140%;
}

ul.notification_container>li>ul>li {
    cursor: pointer;
    width: 100%;
    border-bottom: 1px solid #dedede;
}
.notif_info{
    width: 100%;
    padding:10px!important;
}
ul.notification_container>li>ul>li:hover {

    background: #dedede;
}

ul.notification_container>li>a {
    color: #757575!important;
}

ul.nav_after>li>a>i {
    line-height: 44px;
    font-size: 22px;
    height: auto!important;
}

.del-order {
    padding: 13px!important;
    background: #BFD1E1;
    margin-top: 8px;
}

.del-order i {
    position: relative;
    margin-right: 10px;

    font-size: 25px!important;
    color: #004986;
}

.del-order span {
    font-size: 16px;
    position: relative;
    top: -2px;
    color: #004986;
}

.detail_see {
    font-size: 15px;
    margin-top: 2px;
    text-decoration: none;
}

.detail_see1 {
    font-size: 15px;
    margin-top: 2px;
    text-decoration: none;
}

ul.sub_nav_order {
    margin: 0;
}

ul.sub_nav_order li {
    width: 100%;
    display: inline-flex;
}

ul.sub_nav_order li:hover {
    background: #dedede;
}

ul.sub_nav_order li a {
    font-size: 13.5px;
    margin-left: 5px;
    width: 100%;
    padding: 17px 5px;
}

ul.sub_nav_order li a i {
    float: right;
    font-size: 24px;
    margin-right: 10px;
}

ul.sub_nav_order li.active {
    background: #dedede;
}

ul.item_data_order {
    margin: 0px;
    border-bottom: 2px solid #fff;
}

.accr {
    display: inline-flex;
    background: #dedede;
    width: 100%;
    padding: 8px 0px;
    cursor: pointer;
}

.accr p {
    margin: 0px;
    float: left;
}

.accr p:nth-child(1) {
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    width: 40%;
    border-right: solid #004986;
    border-width: 0.5px;
    color: #004986;
}

.accr p:nth-child(2) {
    width: 60%;
    padding-left: 10px;
    font-weight: 300;
    color: #004986;
}

.accr p i {
    position: relative;
    float: right;
    right: 20px;
    top: -4px;
    font-size: 21px;
}

.upload_pick {
    padding: 10px 15px!important;
}

.upload_pick p {
    color: #757575;
    font-size: 13px;
    float: left;
    margin: 0px;
    width: 50%;
}

.upload_pick a {
    text-align: right;
    text-decoration: underline;
    float: right;
    width: 50%
}


/*upload images*/

.drop_img {
    padding: 10px 15px!important;
}

.drop-area {
    text-align: center;
    float: left;
    width: 60px;
    border-radius: 5px;
    border: 2px dashed #757575;
    height: 60px;
    cursor: pointer;
}

.drop-area i {
    position: relative;
    top: 18px;
    font-size: 24px;
    color: #757575;
}

#thumbnail {
    float: left;
}

#thumbnail img {
    width: 60px;
    height: 60px;
    margin-left: 10px;
}

canvas {
    border: 1px solid red;
}


/*end*/

.normal_Input label {
    position: relative;
    top: -8px;
    font-size: 13px!important;
}

.normal_Input input[type=text] {
    border-radius: 5px;
    width: 95%;
    font-size: 14px;
    padding: 4px 10px;

    border: 1px solid #dedede!important;
}

.normal_Input input[type=text]:focus {
    border-bottom: 1px solid #dedede!important;
    box-shadow: 0 0px 0 0 #000!important;
}

.vol {
    font-size: 14px;
    position: relative;
    top: -10px!important;
}

.normal_select input[type=text] {
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.normal_select>span {
    color: #757575!important;
    right: -10px!important;
}


/*end*/
.justify-align{
    text-align: justify!important;
}
.btn-change-pswd button{
    position: relative;
    top: -20px;
    line-height: 0;
    padding-left: 40px;
    padding-right: 40px;

}
.btn-change-pswd button i{
    position: relative;
    top: 2px;


}
.notification_new{
    position: relative;
    color: #fff;
    padding: 5px 10px;
    background: #c40000;
    border-radius: 3px;
    right: 80px;
    top: 10px;
}
.notification_new_time{
    position: relative;
    top: -10px;
}
.input-group-search  input[type=search]{
    width: 80%!important;
}
.message_delete{
    cursor: pointer;
}
.kode_verify{
    font-size: 16px!important;
}
.kode_verify_text{
    font-size: 22px!important;
    margin-bottom: 40px;
}
.delete_message{
    position: absolute;
    font-size: 18px;
     display: none;
     padding: 0px 6px;
    top: -10px;
    border-radius: 30px;
    color: #ffffff;
    background: #BA0F0F;
}
.delete_message i{
    line-height: 0px;
}
.input-group-search span{
    position: absolute;
    top: 15px;
    color: #dedede;
}
/*mozila only*/

@-moz-document url-prefix() {
    .pst {
        top: 567px!important;
    }
}

.tot_angkt {
    padding: 12px 10px!important;
    background: #ddd;
}
.data_menucollapse{
    padding: 0px!important;
}
::-webkit-scrollbar {
    width: 7px!important; 
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.2)!important; 
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5)!important; 
}
::-moz-selection { background: #ffa726; color: #fff; }
::selection { background: #ffa726; color: #fff; }

.scroll-max{
    max-height: 500px;
    overflow-y:scroll; 
}
.data_menucollapse ul{
    display: inline-block;
    margin: 0px;
}
.data_menucollapse ul li{
display: inline-block;
width: 100%;
}
.data_menucollapse ul li a{
    padding: 10px 10px;
    border-bottom: 1px solid #dedede;
width: 100%;
display: inline-block;
font-weight: 300;
color: #757575;
font-size: 14px;

    }
    .data_menucollapse ul li a:hover{
       background: #dddddd;
        
    color: #004984;  
}
.data_menucollapse ul li a.active{
    background: #dddddd;
    color: #004984;
}
.tot_angkt>img {
    float: left;
    padding-left: 5px;
}
.detail_data_jasa>a{
    font-size: 12px;
    display: inline-block;
    color: #757575;
    padding: 5px 8px;
    margin-top: 10px;
    border-radius: 5px;
    background: #dedede;
}

.tot_angkt>h6 {
    position: relative;
    top: 2px;
    right: -10px;
    font-weight: 600;
    font-size: 16px;
    color: #004986;
}

.check_box_mdff {
    padding: 20px 5px;
    width: 100%;
    display: inline-block;
}

.check_box_mdff [type="checkbox"]+label {
    font-size: 13px;
    color: #757575;
    float: right!important;
    width: 100%;
    padding-left: 0px;
}

.check_box_mdff [type="checkbox"]+label:before,
.check_box_mdff [type="checkbox"]+label:after {
    right: 0!important;
    margin-right: 10px;
    left: inherit!important;
    border-width: 2px!important;
}

.dimensi_tot1>p {
    margin-top: 0px;
    text-align: center;
    float: left;
    width: 50%;
    font-size: 13px;
    color: #757575;
    font-weight: 300;
    padding: 10px 0px;
    border: 1px dashed #dddddd;
}

.max_kap {
    border-bottom: 1px solid #dddddd;
    display: inline-block;
}

.max_kap>p:nth-child(1) {
    margin: 0px;
    text-align: left;
    float: left;
    width: 50%;
    font-size: 13px;
    color: #757575;
    font-weight: 400;
    padding: 13px 10px;
}

.max_kap>p:nth-child(2) {
    margin: 0px;
    text-align: right;
    float: right;
    width: 50%;
    font-size: 13px;
    color: #757575;
    font-weight: 400;
    padding: 13px 10px;
}
.cart-scroll{
    max-height: 500px!important;
    overflow-y: scroll;
    padding-bottom: 40px!important
}

/*end*/

.btn_submit_container {
    display: inline-block;
    width: 100%;
    padding: 20px 0px;
}

.select_berat>span {
    height: 0px!important;
    bottom: 32px!important;
}

.select_berat>input {
    margin-bottom: 0px!important;
}

.preview_total {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
    border-top: 1px solid #dedede;
}

.preview_total h6 {
    font-size: 14px;
    color: #004986;
}

.preview_total p {
    font-weight: 400!important;
    font-size: 13px;
    color: #757575!important;
}

.term_and_condition h4 {
    font-family: 'Montserrat', sans-serif!important;
    text-align: center;
    color: #333;
    padding-bottom: 20px;
}

.term_and_condition p {
    font-family: 'Montserrat', sans-serif!important;
    font-size: 14px;
    color: #757575;
    letter-spacing: 0.3;
    text-align: justify;
    font-weight: 300!important;
}

.total_order_cont {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
}

.total_order_cont h6 {
    margin: 0px;
    color: #757575;
    font-weight: 300;
    line-height: 18px;
    float: left;
    padding: 10px 5px;
    border: 1px dashed #757575;
    width: 50%;
    text-align: center;
    font-size: 14px;
}

.cal_capaciti {
    display: inline-block;
    width: 100%;
    margin: 0px;
    border-bottom: 1px solid #dedede;
}

.cal_capaciti p {
    float: left;
    width: 50%;
    margin: 0px;
    padding: 10px 5px!important;
    font-weight: 300!important;
    color: #757575;
}

.j_k_pick {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    padding: 0px!important;
    margin-top: 0px!important;
}

.j_k_pick span {
    font-size: 13px!important;
    margin: 10px 0px!important;
    color: #757575;
    padding: 0px;
}

.j_k_pick p {
    padding: 0px;
    color: #757575;
    font-size: 14px;
    font-weight: 300!important;
    margin: 10px 0px 0px 0px !important;
}

.textarea_lab {
    left: 0px!important;
}

.modal-small {
    width: 30% !important;
    height: 85% !important;
}

.success_modal>h4 {
    font-size: 24px;
    margin-top: 20px;
    color: #51A340;
}

.success_modal>p {
    margin-top: 8px;
    color: #757575;
    font-size: 15px;
}

.success_modal>p>strong {
    color: #A80F0F;
    font-size: 16px;
}
.head_kata_Sandi{
 background: #004984;
 color: #fff;

}
.head_kata_Sandi h6{
    margin: 0;
    text-align: center;
    padding: 20px;
}
.head_kata_Sandi h6 a{
    position: relative;
    top: -10px;
   
}
.head_kata_Sandi h6 a i{
    color: #fff!important;
}
ul.profil_login {
    right: 40px;
    width: 250px;
    padding-bottom: 0px!important;
}

ul.profil_login li {
    line-height: 1.2;
    width: 100%;
}
 .h-auto{
    height: auto!important;
 }

ul.profil_login li:hover {
    background: none;
}
.st-me{
    padding: 10px!important;
    background: #eee;
    border-top: 2px dashed #dedede;
}
ul.profil_login li a span {
    position: absolute!important;
    margin-left: 10px;
    left: 0px!important;
    top: 10px;
    float: none;
    position: inherit;
}

ul.profil_login li a.progressprofile {
    color: #757575;
    line-height: 1.2;
    padding-top: 25px;
    padding-bottom: 10px;
}

ul.profil_login li a:hover {
    background: none;
}

ul.profil_login li a {
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.profil_login li.hover a:hover {
    background: #dedede;
}

.kelprofile span {
    top: 0px;
}

.lengprof {
    text-align: center;
}

.profil_login i {
    color: #757575!important;
    float: left!important;
    font-size: 20px!important;
    line-height: 0.6!important;
    padding-right: 10px;
    height: auto!important;
}

.lengprof a {
    font-size: 12px!important;
    color: #004984!important;
    padding-top: 0px!important;
    padding-bottom: 10px!important;
}

.lengprof a:hover {
    text-decoration: underline;
}

.tabs-contact-setting {}

.data_profile_ul .collapsible-body {
    padding: 0px;
}

.data_profile_ul .collapsible-header {
    border-left: 4px solid #004998;
}

.data_profile_ul .collapsible-body a {
    color: #757575;
    width: 100%;
    display: inline-block;
    padding: 10px;
    padding-left: 20px;
    padding-top: 8px;
    border-bottom: 1px solid #dedede;
    font-size: 13px;
}

.data_profile_ul .collapsible-body i {
    color: #757575;
    position: relative;
    margin-right: 10px;
    top: 5px;
    font-size: 20px;
}

.tabs-contact-setting {
    display: inline-block;
    width: 100%;

    border-bottom: 1px solid #dedede;
}

.tabs-contact-setting>.tab {
    width: 18%;
    text-align: center;
    padding: 0px;
    display: inline-block;
}

.tabs-contact-setting>.tab>a {
    display: inline-block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs-contact-setting>.tab>.active {
    border-bottom: 4px solid #004998;
}

.dropify-wrapper {
    margin-bottom: 20px;
}

.setpadding {}

.w-100 {
    width: 98.5%!important;
    padding-right: 0px!important;
}

.input-normal .select2 {
    width: 100%!important;
    margin-bottom: 20px!important;
}

.input-normal .select2-selection {
    border: 1px solid #dddddd!important;
    border-radius: 5px!important;
    padding: 20px!important;
}

.input-normal .select2-selection__rendered {
    line-height: 1.2!important;
    position: relative!important;
    top: -6px!important;
    left: -5px!important;
}

.kelprofile_detail {
    margin: 0px;
}

.kelprofile_detail span {
    position: relative!important;
    color: #004998;
    left: 35%;
    font-size: 11px;
}

.prog .progress {
    height: 8px!important;
    padding-bottom: 5px!important;
}

.prog {
    color: #757575;
    padding: 10px!important;
}

.img_user {
    width: 38px!important;
}

#modalbeforelogin {
    width: 30%;
}

#modalbeforelogin .modal-header {
    padding: 10px;
}

#modalbeforelogin .modal-content img {
    width: 50%;
}

#modalbeforelogin .modal-content h5 {
    line-height: 1.2;
    font-size: 21px;
}

#modalbeforelogin .modal-content a {
    margin-top: 20px;
    width: 50%;
    margin-bottom: 20px;
    line-height: 0;
    padding-bottom: 20px!important;
    padding-top: 20px!important;
    font-size: 15px;
}

#modalbeforelogin .modal-content {
    color: #757575;
}

#modalbeforelogin .modal-footer {
    background: rgba(0, 73, 132, .2);
}

#modalbeforelogin .modal-footer p {
    text-align: center;
    font-size: 14px;
    color: #333;
}

#modalbeforelogin .modal-footer p a {
    font-weight: 600;
    font-size: 15px;
}

#modalbeforelogin .modal-footer p a:hover {
    text-decoration: underline;
}
.circle-nav{
    float: right;
    padding: 4px 9px;
    color: #ffffff;
    border-radius: 100px;
    background: #757575;
}
 .input-group-search{
    margin: 0px;
    border: 0px!important
 }
 .input-group-search input{
    padding: 10px 20px 10px 40px!important;
    margin:0px!important;
    font-size: 18px!important;
    width: auto!important;
    color: #757575!important;
    border-bottom: 0px!important;
 }
 .input-group-search input:focus{
      border-bottom: 0px!important;
      box-shadow: none!important;
 }
 .lh-0{
    line-height: 0px!important;
 }
 .lh-normalize{
    line-height: 1.5!important;
 }
.fn-14{
    font-size: 14px!important;
}
.small{
    font-size: 11px!important;
    font-weight: 300;
}
 .noborder{
    border: none!important;
 }
 .data-result{
    cursor: inherit!important;
    display: inline-block;

}
.check_data_order button{
    line-height: 1px;
}
.check_data_order button>i{
    position: relative;
    top: 5px;
    font-size: 18px;
    margin-right: 0px;
}
 .img-result-data{
    display: inline-block;
     height: 100%!important;
     line-height: 0px!important;
 }
 .img-result-data img{
    width: 350px;
    top: 0px!important;
 }
  .input-group-search i:after{
      color: #004984!important;
  }
 .input-group-search>i{
    top: 15px!important;
    font-size: 18px!important;
 }
.tabs-daftar-jasa{
    display: inline-block;
    width: 100%;
}
.set-imgtrx{
    height: 140px!important;
}
.set-imgtrx img{
    top: 0px!important;
    width: 280px;
}
.tabs-daftar-jasa{
    margin: 0px!important;
}

.tabs-daftar-jasa  li {
    padding: 0px!important;
}
.tabs-daftar-jasa  li a{
    padding: 12px  10px!important;
    display: inline-block;
    font-size: 15px!important;
}
.tabs-daftar-jasa  li a.active{
    border-bottom: 3px solid #004984;
}
.set-tgl-trx{

    position: relative;
    top: -10px;

}
.title-list{
    padding: 10px!important;
}
.bold{
    font-weight: 400;
}
.dt_ktre span{
    font-size: 14px!important;
    font-weight: 400;

}
.ket_data{
    padding-top: 5px!important;
}
.dt_ktre img{
    bottom: -3px!important;
}
.detail_status_imd{
    padding-bottom: 10px!important;
   background: #f2f2f2; 
   border-bottom: 2px dashed #dedede;
}
.start_hstry ul{
 display: inline-block;
 width: 100%;
}
.start_hstry ul li {
    float: left;
    margin-left: 5px;
}
.start_hstry ul li a{
    display: inline-block;
    cursor: pointer;
}
.start_hstry ul li a i{
    color: #d68013;
    font-size: 28px;
    line-height: 0;
    position: relative;
    top: 10px;
}
.detail_status_imd span{
    position: relative;
    top: 7px;
    margin-left: 10px;
}
.pagination li.active{
    background: #004984!important;
}
/*responsive*/
.tabs-cart   li a {
    font-size: 16px!important;
}
.tabs-cart   li a i {
    position: relative!important;
    top: 3px;
    margin-right: 10px;
    font-size: 18px!important;
}
.img-oveflow{
    width: 100%;
    overflow: hidden;
}
.img-cart{
    height: 140px!important;
}
.img-cart img{
    width: 290px!important;
}
.img-oveflow img{
    width: 130%;
    }
.labet_status{
    background: #d68013;
    padding: 5px 12px;
    border-radius: 5px;
    color:#ffffff;
}
.sorry_not_found{
    width: 100%;
    background: #fff;
    margin: auto;
    height: 10vw;
    display: inline-block;
    text-align: center;

}
.zone{
    position: relative;
    top:10px;
     text-align: center;
    padding: 20px;
    font-size: 30px;
    width: 60%;
    color: #dedede;
    margin: auto;
    border :2px dashed #dedede;
}
@media only screen and (max-width: 1100px) {
    .height-trtn {
        height: auto!important;
    }
}

@media only screen and (max-width: 993px) {
	ul.notification_container{
		right: 5px!important;
	}
	nav .brand-logo{
		left: 35%;
	}
    #modalbeforelogin {

        width: 90%
    }
    .prst-btn {
        margin-left: 0%!important;
    }
    .prst-btn>a {
        margin-right: 0px;
    }
    .container-errorpage img {

        width: 70%;
    }
    .container-errorpage a {
        margin-top: 20px;
        width: 40%;
        line-height: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
    }

    .tabblesort a {
        font-size: 12px;
    }
    .p-l-30 {
        padding-left: 0px!important;
    }
    .tabs .tab a {
        text-align: left;
        padding-left: 30px;
    }
    .bor-right {
        border-right: 0px solid #dedede;
    }
    .bor-left {
        border-left: 0px solid #dedede;
    }
    .result-container {
        margin-left: -0rem!important;
    }
    .tabblesort img {

        right: -30px;
    }
    .close-alert {
        position: absolute;
        top: 10px;
        right: 5%!important;
        font-size: 20px;
    }
    .nav-top-stl {
        padding-left: 0px;
        padding-right: 0px;
    }
    .w-85 {
        width: 90%!important;
    }
    .result-container {
        padding-bottom: 20px;
    }
    nav i,
    nav [class^="mdi-"],
    nav [class*="mdi-"],
    nav i.material-icons {
        color: #fff;
    }
    .form-search-all {
        position: inherit;
        width: 93%;
    }
    .w-80 {
        width: 85%;
    }
    .main-dashboard {
        position: inherit;
        top: -60px;
    }
    .modal {
        width: 95%;
        max-height: 100%;
        overflow-y: hidden;
    }
    .img-result img {
        width: 110%;
        top: -40px;
    }
    .modal .modal-footer {
        height: 98px;
    }
    .modal-small {
        width: 95%!important;
    }
    .ket_rs>.ct_ktr {
        float: left;
        margin-right: 10px;
        display: inline-block;
    }
    .ket_rs_btn {
        float: right;
        text-align: center;
    }
    .img_fleet {
        margin-top: 5%;
        margin-left: -5%;
    }
    .return-btn {
        left: inherit;
        right: 10%;
    }
    .m-r-mobile-0 {
        margin-right: 0px!important;
    }
    .m-l-mobile-0 {
        margin-left: 0px!important;
    }
    .p-l-mobile-0 {
        padding-left: 0px!important;
    }
    .p-r-mobile-0 {
        padding-right: 0px!important;
    }
    .m-t-mobile-10 {
        margin-top: 10px!important;
    }
    .btn-block-mobile {
        width: 100%;
    }
    .tab_detailcont-nav>li>a {
        padding-left: 20px!important;
    }
}

@media only screen and (max-width: 662px) {
    .m-r-10 {
        margin-right: 0px!important;
    }
    .result-container {
        margin-left: -0rem!important;
    }
    .m-l-20 {
        margin-left: 0px!important;
    }
    .n_C {
        width: 100%;
    }
    .img-result {
        padding-right: 0px!important;
    }
    .m-b-200 {
        margin-bottom: 60px!important;
    }
    .container-errorpage img {

        width: 100%;
    }
    .container-errorpage a {
        margin-top: 20px;
        width: 80%;
        line-height: 0;
        padding-bottom: 20px;
        padding-top: 20px;
        font-weight: 400;
        font-size: 20px;
    }
    .p-l-30 {
        padding-left: 0px!important;
    }
    .bor-right {
        border-right: 0px solid #dedede;
    }
    .bor-left {
        border-left: 0px solid #dedede;
    }
    .m-l-5 {
        margin-left: -0.75rem!important;
    }
    .timeline-horizontal ul li hr {
        padding-right: 45px;
        line-height: 1px;
        border: 1px solid #757575;
    }
    .timeline-horizontal ul li span {
        font-size: 11px;
    }
    .timeline-horizontal ul li hr.active {
        padding-right: 45px;
        line-height: 1px;
        border: 1px solid #004986;
    }
    .tab_detailcont-nav .tabs .tab a {
        padding-left: 0px!important;
    }
    .w-80 {
        width: 95%;
    }
    .timeline-horizontal {
        position: relative;
        top: -20px;
    }
    .rslt-breadcump {
        padding-bottom: 10px!important;
    }
    .img-result img {
        width: 100%;
    }
    .ct_ktr {
        padding-left: 0px;
    }
    .fm-container .fm-group {
        margin-top: 10px;
    }
    .return-btn {
        position: absolute;
        left: inherit;
        right: 8%;
        margin-top: 5px;
    }
}


/*end*/