<!DOCTYPE html>
<html id="height">

<head>
    <title>401 Unauthorized Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script> 
     <script type="text/javascript" src="js/main.js"></script> 
</head>

<body class="error-page" >
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-errorpage">

        <img src="img/error/4011.png">
        <h4>Error 401 - Not Authorized</h4>
        <p class="p_autorized">The Request requires aunthentication, fell Contact <a href="#">Service and Support</a></p>
        <a href="#" class="waves waves-effect btn btn-primary-outline ">Login<i class="material-icons p_autorized_a">arrow_forward</i> </a>
    </div>
    <script type="text/javascript">
        
    </script>
</body>

</html>