<!DOCTYPE html>
<html id="height">

<head>
    <title>500 Error Internal Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script> 
     <script type="text/javascript" src="js/main.js"></script> 
</head>

<body class="error-page" >
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-errorpage">

        <img src="img/error/5001.png">
        <h4>Error 500 - Internal Server Error</h4>
        <p>Try refresh this page or feel free to <a href="/" style="text-decoration: underline;">contact us</a> if the problem persist. </p>
        <a href="#" class="waves waves-effect btn btn-primary-outline  reload"><i class="material-icons">refresh</i>Reload Page</a>
    </div>
    <script type="text/javascript">
        $('.reload').click(function() {
    location.reload();
});
    </script>
</body>

</html>