 <% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Cart Item</a> 
                    </div>
                    
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85"> 
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                         <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                 <p class="kelprofile_detail">kelengkapan profile   <span>70%</span></p>
                                <div class="progress ">
                                      <div class="determinate" style="width: 70%"></div>
                                </div> 
                                <a href="setting_account" class="text-primary" >Silahkan Lengkapi Data Diri Anda    </a>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                  <div class="collapsible-header active text-primary">Data Diri</div>
                                  <div class="collapsible-body active">
                                       
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                         <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                          <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                          <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a> 
                                   </div>
                                </li>
                                 <li>
                                  <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                  <div class="collapsible-body   active">
                                       
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                         <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                          <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                        
                                   </div>
                                </li>  
                              </ul>
                         </div>
                    </div>
                    <div class="col l9 m12 s12 p-l-30">  
                        <div class="row z-depth-2 bor-grey"> 
                                <div class="col s12   ">
                                    <ul class="tabs-contact-setting tabs-cart">
                                        <li class="tab col s3"><a   class="active" href="#cart"><i class="material-icons">shopping_basket</i>Cart</a></li> 
                                        <li class="tab col s3"><a   href="#H_cart"><i class="material-icons">shopping_cart</i>History Cart</a></li> 
                                    </ul>
                                </div>
                                <div id="cart" class="col s12 setpadding cart-scroll">
                                    <div class="result_container_res" >
                                          <div class="row m-b-0 result-container">
                                            <div class="col s12 m3 l2 img-result img-cart">
                                                <div class="n_C">PT POS INDONESIA</div>
                                                <img src="img/trr1.png">
                                            </div>
                                            <div class="col l2 m3 result_tj">
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div>
                                            <div class="col l3 m3 s4 result_tj   ">
                                                
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div> 
                                            <div class="col l2 m8 s12 ket_rs  ">
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                                </div>
                                            </div>
                                            <div class="col l3 m12   s12 ket_rs_btn">
                                                <div class="col s12">
                                                    <a href="data_delivery_order" class="waves waves-effect  btn m-t-10  btn-block btn-warning  " >Lanjut Order</a> 
                                                    <a href= "#" class="waves waves-effect  m-t-10 btn btn-block btn-danger detail_see"> Delete</a>
                                                </div>
                                            </div>
                                            <div class="col m10 l10   s12">
                                               <div class="col s6 l6 m6 nopadding"><p class=" text-primary nomargin p-l-10 fn-14">Durasi 2 Jam 23 Menit , Transit</p></div> 
                                                <div class="col s6 l6 m6 nopadding right-align m-t-5"><p class="  text-grey  nomargin p-l-10 fn-12">Tanggal Order : <span class="light">20 Sep 2017 20:00</span></p></div>
                                            </div>
                                          </div> 
                                    </div>
                                    <div class="result_container_res" >
                                          <div class="row m-b-0 result-container">
                                            <div class="col s12 m3 l2 img-result img-cart">
                                                <div class="n_C">PT POS INDONESIA</div>
                                                <img src="img/trr1.png">
                                            </div>
                                            <div class="col l2 m3 result_tj">
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div>
                                            <div class="col l3 m3 s4 result_tj   ">
                                                
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div> 
                                            <div class="col l2 m8 s12 ket_rs  ">
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                                </div>
                                            </div>
                                            <div class="col l3 m12   s12 ket_rs_btn">
                                                <div class="col s12">
                                                    <a href="data_delivery_order" class="waves waves-effect  btn m-t-10  btn-block btn-warning  " >Lanjut Order</a> 
                                                    <a href= "#" class="waves waves-effect  m-t-10 btn btn-block btn-danger detail_see"> Delete</a>
                                                </div>
                                            </div>
                                            <div class="col m10 l10   s12">
                                               <div class="col s6 l6 m6 nopadding"><p class=" text-primary nomargin p-l-10 fn-14">Durasi 2 Jam 23 Menit , Transit</p></div> 
                                                <div class="col s6 l6 m6 nopadding right-align m-t-5"><p class="  text-grey  nomargin p-l-10 fn-12">Tanggal Order : <span class="light">20 Sep 2017 20:00</span></p></div>
                                            </div>
                                          </div> 
                                    </div>
                                    <div class="result_container_res" >
                                          <div class="row m-b-0 result-container">
                                            <div class="col s12 m3 l2 img-result img-cart">
                                                <div class="n_C">PT POS INDONESIA</div>
                                                <img src="img/trr1.png">
                                            </div>
                                            <div class="col l2 m3 result_tj">
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div>
                                            <div class="col l3 m3 s4 result_tj   ">
                                                
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div> 
                                            <div class="col l2 m8 s12 ket_rs  ">
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                                </div>
                                            </div>
                                            <div class="col l3 m12   s12 ket_rs_btn">
                                                <div class="col s12">
                                                    <a href="data_delivery_order" class="waves waves-effect  btn m-t-10  btn-block btn-warning  " >Lanjut Order</a> 
                                                    <a href= "#" class="waves waves-effect  m-t-10 btn btn-block btn-danger detail_see"> Delete</a>
                                                </div>
                                            </div>
                                            <div class="col m10 l10   s12">
                                               <div class="col s6 l6 m6 nopadding"><p class=" text-primary nomargin p-l-10 fn-14">Durasi 2 Jam 23 Menit , Transit</p></div> 
                                                <div class="col s6 l6 m6 nopadding right-align m-t-5"><p class="  text-grey  nomargin p-l-10 fn-12">Tanggal Order : <span class="light">20 Sep 2017 20:00</span></p></div>
                                            </div>
                                          </div> 
                                    </div>
                                    <div class="result_container_res" >
                                          <div class="row m-b-0 result-container">
                                            <div class="col s12 m3 l2 img-result img-cart">
                                                <div class="n_C">PT POS INDONESIA</div>
                                                <img src="img/trr1.png">
                                            </div>
                                            <div class="col l2 m3 result_tj">
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div>
                                            <div class="col l3 m3 s4 result_tj   ">
                                                
                                                <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                                <h5 class="tj_wak">16:30</h5>
                                                <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                            </div> 
                                            <div class="col l2 m8 s12 ket_rs  ">
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                                </div>
                                                <div class="ct_ktr">
                                                    <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                                </div>
                                            </div>
                                            <div class="col l3 m12   s12 ket_rs_btn">
                                                <div class="col s12">
                                                    <a href="data_delivery_order" class="waves waves-effect  btn m-t-10  btn-block btn-warning  " >Lanjut Order</a> 
                                                    <a href= "#" class="waves waves-effect  m-t-10 btn btn-block btn-danger detail_see"> Delete</a>
                                                </div>
                                            </div>
                                            <div class="col m10 l10   s12">
                                               <div class="col s6 l6 m6 nopadding"><p class=" text-primary nomargin p-l-10 fn-14">Durasi 2 Jam 23 Menit , Transit</p></div> 
                                                <div class="col s6 l6 m6 nopadding right-align m-t-5"><p class="  text-grey  nomargin p-l-10 fn-12">Tanggal Order : <span class="light">20 Sep 2017 20:00</span></p></div>
                                            </div>
                                          </div> 
                                    </div>
                                </div> 
                                <div id="H_cart" class="col s12 setpadding">
                                <div class="row m-b-0">
                                    <div class="sorry_not_found">
                                      <div class="zone">Sorry Item Not Found</div>
                                    </div>
                                    </div>
                                </div>   
                        </div>
                    </div>
                    <div class=" col s12 m9 l9 ">
                        <div class="col s12 m12 z-depth-2 m-l-10 right-align l12 ">
                              <ul class="pagination">
                                  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                  <li class="active"><a href="#!">1</a></li>
                                  <li class="waves-effect"><a href="#!">2</a></li>
                                  <li class="waves-effect"><a href="#!">3</a></li>
                                  <li class="waves-effect"><a href="#!">4</a></li>
                                  <li class="waves-effect"><a href="#!">5</a></li>
                                  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                              </ul> 
                            </div>
                          </div>
                  </div>
            </div>
        </section>
 
    </main>
      <% include ../partials/footer %> 
    <script type="text/javascript">
    
 
           $(document).ready(function(){ 
            $('.tabs-cart').tabs();
             $('.selectmaterial').material_select();
              $('.select2_normal').select2();
         
  });
        
    </script>
</body>

</html>