<% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Daftar Jasa Fleet</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                        <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                <a href="#" class="text-primary">Daftar Jasa fleet <span class="circle-nav">1</span></a>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header active text-primary">Data Diri</div>
                                    <div class="collapsible-body active">
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                        <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                        <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                        <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                    <div class="collapsible-body   active">
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                        <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0">
                        <div class="col s12 l12 m12 title-list">
                            <div class="col s12 m6 l6 ">
                              <h6 class="nomargin text-primary  fn-16">Jakarta - Surabaya</h6>
                              <p class="nomargin m-t-10 text-grey">Truck Tronton , B E345678 ED</p>
                            </div>  
                            <div class="col s12 m6 l6 right-align"> 
                              <p class="nomargin m-t-10 text-grey">Tanggal Order: <br>Selasa,12 Mei 2017</p>
                            </div>    
                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0">
                        <div class="col s12 l12 m12 title-list">
                            <div class="result_container_res lh-0 noborder">
                                <div class="  m-b-0 result-container data-result lh-normalize noborder">
                                    <div class="col s12 m3 l2 ">
                                        <img src="img/logoB.png" class="responsive-img" >
                                    </div>
                                    <div class="col s12 m9 l10  p-t-0   p-r-0">
                                        <div class="col s12 m12 p-r-0  b-b-grey">
                                            <div class="col m6 s12 p-l-0 p-t-5">
                                                <h6 class="text-primary">PT.Bhanda Ghara Reksa</h6>
                                            </div>
                                            <div class="col m6 s12 right-align p-r-0 ">
                                                <a class="bg-warning  text-white padding510  light d-inline" href="#">Transaksi Selesai</a>
                                            </div>
                                        </div>
                                        <div class="col s12 m12 p-l-0 p-r-0 m-t-10">
                                            <div class="col s12 m4 l4  ">
                                                <h6 class="text-warning fn-16 ">Jakarta - Surabaya</h6>
                                               <h6 class="fn-14 text-primary m-t-10  lh-normalize">ID Order : <br><span class="text-grey">5612647813278</span></h6>
                                                 
                                            </div>
                                             <div class="col s12 m5  l5  ">
                                                 <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <br><span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-0  lh-normalize">E.T.A : <br><span class="text-grey">Selasa, 12-11-2017 23:00</span></h6>  
                                            </div>  
                                        </div>  
                                    </div>
                                    <div class="col s12 l12 m12 bg-grey ">
                                        <div class="col s12 m6  l6  center-align  start_hstry">
                                              <ul>
                                                  <li><a  ><i class=" material-icons">star_border</i></a></li>
                                                  <li><a ><i class=" material-icons">star_border</i></a></li>
                                                  <li><a   ><i class=" material-icons">star_border</i></a></li>
                                                  <li><a  ><i class=" material-icons">star_border</i></a></li>
                                                  <li><a  ><i class=" material-icons">star_border</i></a></li>
                                              </ul> 
                                        </div>
                                        <div class="col s12 m6  l6  right-align ">
                                             <p class="text-grey ">Tanggal Pemesanan : 20 Oct 2017 20:30</p>  
                                        </div>
                                    </div>
                                    <div class="col s12 l12 m12 detail_status_imd">
                                        <div class="col l2 m2 s6 center-align"><h6 class="text-primary fn-14">Penyedia <span class="material-icons">check_circle</span></h6></div> 
                                        <div class="col l3 m3 s6 left-align p-l-0 p-r-0">
                                            <p class="text-grey m-b-5">Senin, 20 Maret 2017 20:30</p>
                                            <a class="labet_status d-inline" href="#">Received on Destination</a>
                                        </div>
                                        <div class="col l6 m6 s12 left-align">
                                            <p class=" m-b-5 fn-14 text-primary">Keterangan :<br> <span class="text-grey m-l-0  light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand but also the leap into electronic typesetting</span></p> 
                                        </div> 
                                    </div>
                                    <div class="col s12 l12 m12 detail_status_imd">
                                        <div class="col l2 m2 s6 center-align"><h6 class="text-primary fn-14">Penyedia <span class="material-icons">check_circle</span></h6></div> 
                                        <div class="col l3 m3 s6 left-align p-l-0 p-r-0">
                                            <p class="text-grey m-b-5">Senin, 20 Maret 2017 20:30</p>
                                            <a class="labet_status d-inline" href="#">Received on Destination</a>
                                        </div>
                                        <div class="col l6 m6 s12 left-align">
                                            <p class=" m-b-5 fn-14 text-primary">Keterangan :<br> <span class="text-grey m-l-0  light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's stand but also the leap into electronic typesetting</span></p> 
                                        </div> 
                                    </div>

                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
        <script type="text/javascript">
        $(document).ready(function() {
        var inlinestart = true;
        $('.start_hstry li a').click(function(){
            if (inlinestart ==  true ) {
               $(this).find('i').text('star'); 
               inlinestart = false;
           } else if (inlinestart ==  false){
             $(this).find('i').text('star_border');
             inlinestart = true;
           }
           return false;
            
        });
        $('ul.tabs-daftar-jasa').tabs({
          swipeable : false
        }); 
            $('.tabs-contact-setting').tabs();
            $('.selectmaterial').material_select();
            $('.select2_normal').select2();
            $('.datepicker').pickadate();
           

        });
        </script>
        </body>

        </html>