 <% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Hubungi Kami</a> 
                    </div>
                    
                </div>
            </div>
        </section>
         <div class="container">
          <div class="section">

          
            
            <div id="contact-page" class="card">
                
                <div class="card-content">                    

                    <div class="row">
                      <div class="col s12 m6">

                     <h6 class="caption text-primary m-b-10">Support Inbox</h6>
                        <form class="contact-form"> 
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="email" type="email">
                              <label for="email">Email</label>
                            </div>
                          </div>
                          
                          <div class="row">
                            <div class="input-field col s12">
                              <textarea id="message" class="materialize-textarea"></textarea>
                              <label for="message">Message</label>
                            </div>
                            <div class="row">
                              <div class="input-field col s12">
                                <button class="btn cyan waves-effect btn-warning right" type="submit" name="action">Send
                                  <i class="mdi-content-send right"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>                      
                      <div class="col s12 m6">
                         
                        <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
                          
                          <li class="active">
                            <div class="collapsible-header active"> <h6 class="caption text-primary m-b-10">Support Call & Email</h6></div>
                            <div class="collapsible-body" style="display: none;">
                              <h6 class="text-primary  fn-14">Tim AIR.com selalu siap melayani Anda! </h6> <br>
                              <p>Untuk Anda para pelanggan yang ingin bertanya seputar order dan lain-lain, dapat hubungi kami di:</p>
                              <br>
                              <h6 class="m-b-10"><a mailto="#">Customer Service</a> </h6>
                               
                              <h6 class="fn-14 text-grey">Telepon :<a href="#"> +221 7898 234</a> </h6> 
                               <h6 class="fn-14 text-grey">Email : <a mailto="#">Help@air.com</a> </h6>
                            </div>
                          </li>
                          
                        </ul>
                      </div>
                    </div>

                </div>
              
            </div>            
          </div>
        </div>
        <!--end container-->
      </section>

    </main>
      <% include ../partials/footer %> 
    <script type="text/javascript">
           $(document).ready(function(){
            $('.tabs-contact-setting').tabs();
             $('.selectmaterial').material_select();
              $('.select2_normal').select2();
            $('.datepicker').pickadate();
    $('.dropify').dropify({
    messages: {
        'default': 'Drag and drop a file here or click',
        'replace': 'Drag and drop or click to replace',
        'remove':  'Remove',
        'error':   'Ooops, something wrong happended.'
    },
     error: {
        'fileSize': 'The file size is too big ({{ value }} max).',
        'minWidth': 'The image width is too small ({{ value }}}px min).',
        'maxWidth': 'The image width is too big ({{ value }}}px max).',
        'minHeight': 'The image height is too small ({{ value }}}px min).',
        'maxHeight': 'The image height is too big ({{ value }}px max).',
        'imageFormat': 'The image format is not allowed ({{ value }} only).'
    },
       tpl: {
        wrap:            '<div class="dropify-wrapper"></div>',
        loader:          '<div class="dropify-loader"></div>',
        message:         '<div class="dropify-message"><span class="file-icon" /> <p style="text-align:center;">Silahkan Upload atau Drag photo Profile Anda</p><span style="color:red; font-size:12px; ">*file yang di unggah tidak lebih dari 3MB <br> *ukuran file 200x200  atau rasio 1:1 </span></div>',
        preview:         '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">{{ replace }}</p></div></div></div>',
        filename:        '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>',
        clearButton:     '<button type="button" class="dropify-clear">{{ remove }}</button>',
        errorLine:       '<p class="dropify-error">{{ error }}</p>',
        errorsContainer: '<div class="dropify-errors-container"><ul></ul></div>'
    }
});
     
  });
        
    </script>
</body>

</html>