<% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Daftar Jasa Fleet</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                        <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                <a href="#" class="text-primary">Daftar Jasa fleet <span class="circle-nav">1</span></a>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header active text-primary">Data Diri</div>
                                    <div class="collapsible-body active">
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                        <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                        <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                        <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                    <div class="collapsible-body   active">
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                        <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0">
                            <ul id="tabs-daftar-jasa" class="tabs-daftar-jasa">
                                <li class="tab col s3"><a class="active" href="#trxjf">Daftar Jasa Fleet</a></li>
                                <li class="tab col s3"><a  href="#historyjasafleet">History Jasa Fleet</a></li> 
                            </ul>
                                <div id="trxjf" class="col s12 nopadding">
                                    <div class="result_container_res d-inline bor-grey"> 
                                        <div class="col s12 m3 l2 img-result set-imgtrx"> 
                                            <img src="img/trr1.png">
                                        </div>
                                        <div class="col s12 m9 l10 ">
                                            <div class="col s12 m6 l6">
                                                <h6 class="text-primary">Jakarta - Surabaya</h6> 
                                            </div>
                                             <div class="col s12 m6 l6">
                                                <h6 class="text-warning right-align fn-14">No Order : 9084326138</h6> 
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l10 ">       
                                            <div class="col l3 m8 s12 ket_rs  ket_data">
                                                <div class="ct_ktr dt_ktre">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck Tronton</span>
                                                </div> 
                                                <div class="ct_ktr dt_ktre p-b-0">
                                                    <img src="img/icon/ic_dmns1.png"><span> B 238999 DE </span>
                                                </div>
                                            </div> 
                                            <div class="col s12 m5 l5 ">
                                                <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                            </div> 
                                             
                                            <div class="col s12 m4 l4 center-align">
                                                 <button onclick="javascript:window.location.href='list_daftar_data_fleet'"  class="waves waves-effect m-t-10 btn-block  btn btn-warning">List Order</button>
                                                 <button onclick="javascript:window.location.href='check_status_daftar_data'"  class="waves waves-effect  m-t-10 btn-block btn btn-warning-outline">Status Order</button>
                                            </div> 

                                        </div>
                                        <div class="col s12 m9 l10  m-t-0  set-tgl-trx">
                                            <p class="nomargin text-grey p-l-10  left-align">Tanggal Pemesanan : 24 Okt 2017 22:00 </p>
                                        </div>
                                    </div>
                                    <div class="result_container_res d-inline bor-grey"> 
                                        <div class="col s12 m3 l2 img-result set-imgtrx"> 
                                            <img src="img/trr1.png">
                                        </div>
                                        <div class="col s12 m9 l10 ">
                                            <div class="col s12 m6 l6">
                                                <h6 class="text-primary">Jakarta - Surabaya</h6> 
                                            </div>
                                             <div class="col s12 m6 l6">
                                                <h6 class="text-warning right-align fn-14">No Order : 9084326138</h6> 
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l10 ">       
                                            <div class="col l3 m8 s12 ket_rs  ket_data">
                                                <div class="ct_ktr dt_ktre">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck Tronton</span>
                                                </div> 
                                                <div class="ct_ktr dt_ktre p-b-0">
                                                    <img src="img/icon/ic_dmns1.png"><span> B 238999 DE </span>
                                                </div>
                                            </div> 
                                            <div class="col s12 m5 l5 ">
                                                <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                            </div> 
                                             
                                            <div class="col s12 m4 l4 center-align">
                                                 <button onclick="javascript:window.location.href='list_daftar_data_fleet'" class="waves waves-effect m-t-10 btn-block  btn btn-warning">List Order</button>
                                                 <button onclick="javascript:window.location.href='check_status_daftar _data'"  class=" btn-block waves waves-effect  m-t-10 btn btn-warning-outline">Status Order</button>
                                            </div> 

                                        </div>
                                        <div class="col s12 m9 l10  m-t-0  set-tgl-trx">
                                            <p class="nomargin text-grey p-l-10  left-align">Tanggal Pemesanan : 24 Okt 2017 22:00 </p>
                                        </div>
                                    </div>
                                </div>  
                                <div id="historyjasafleet" class="col s12 nopadding">
                                    <div class="result_container_res d-inline bor-grey"> 
                                        <div class="col s12 m3 l2 img-result set-imgtrx"> 
                                            <img src="img/trr1.png">
                                        </div>
                                        <div class="col s12 m9 l10 ">
                                            <div class="col s12 m6 l6">
                                                <h6 class="text-primary">Jakarta - Surabaya</h6> 
                                            </div>
                                             <div class="col s12 m6 l6">
                                                <h6 class="text-warning right-align fn-14">No Order : 9084326138</h6> 
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l10 ">       
                                            <div class="col l3 m8 s12 ket_rs  ket_data">
                                                <div class="ct_ktr dt_ktre">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck Tronton</span>
                                                </div> 
                                                <div class="ct_ktr dt_ktre p-b-0">
                                                    <img src="img/icon/ic_dmns1.png"><span> B 238999 DE </span>
                                                </div>
                                            </div> 
                                            <div class="col s12 m5 l5 ">
                                                <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                            </div> 
                                             
                                            <div class="col s12 m4 l4 center-align">
                                                 <button  onclick="javascript:window.location.href='detail_daftar_jasa'" class="waves waves-effect m-t-10  btn btn-warning btn-block">Order Detail</button>
                                                 <button onclick="javascript:window.location.href='check_status_data_history'"  class="waves waves-effect  m-t-10 btn btn-warning-outline btn-block">History Status</button>
                                            </div> 

                                        </div>
                                        <div class="col s12 m9 l10  m-t-0  set-tgl-trx">
                                            <p class="nomargin text-grey p-l-10  left-align">Tanggal Selesai : 24 Okt 2017 22:00 </p>
                                        </div>
                                    </div>
                                    <div class="result_container_res d-inline bor-grey"> 
                                        <div class="col s12 m3 l2 img-result set-imgtrx"> 
                                            <img src="img/trr1.png">
                                        </div>
                                        <div class="col s12 m9 l10 ">
                                            <div class="col s12 m6 l6">
                                                <h6 class="text-primary">Jakarta - Surabaya</h6> 
                                            </div>
                                             <div class="col s12 m6 l6">
                                                <h6 class="text-warning right-align fn-14">No Order : 9084326138</h6> 
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l10 ">       
                                            <div class="col l3 m8 s12 ket_rs  ket_data">
                                                <div class="ct_ktr dt_ktre">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck Tronton</span>
                                                </div> 
                                                <div class="ct_ktr dt_ktre p-b-0">
                                                    <img src="img/icon/ic_dmns1.png"><span> B 238999 DE </span>
                                                </div>
                                            </div> 
                                            <div class="col s12 m5 l5 ">
                                                <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                            </div> 
                                             
                                            <div class="col s12 m4 l4 center-align">
                                                 <button onclick="javascript:window.location.href='detail_daftar_jasa'" class="waves waves-effect m-t-10  btn btn-warning btn-block">Order Detail</button>
                                                 <button onclick="javascript:window.location.href='check_status_data_history'"  class="waves waves-effect  m-t-10 btn btn-warning-outline btn-block">History Status</button>
                                            </div> 

                                        </div>
                                        <div class="col s12 m9 l10  m-t-0  set-tgl-trx">
                                            <p class="nomargin text-grey p-l-10  left-align">Tanggal Selesai : 24 Okt 2017 22:00 </p>
                                        </div>
                                    </div>
                                    <div class="result_container_res d-inline bor-grey"> 
                                        <div class="col s12 m3 l2 img-result set-imgtrx"> 
                                            <img src="img/trr1.png">
                                        </div>
                                        <div class="col s12 m9 l10 ">
                                            <div class="col s12 m6 l6">
                                                <h6 class="text-primary">Jakarta - Surabaya</h6> 
                                            </div>
                                             <div class="col s12 m6 l6">
                                                <h6 class="text-warning right-align fn-14">No Order : 9084326138</h6> 
                                            </div>
                                        </div>
                                        <div class="col s12 m9 l10 ">       
                                            <div class="col l3 m8 s12 ket_rs  ket_data">
                                                <div class="ct_ktr dt_ktre">
                                                    <img src="img/icon/ic_tr_rs1.png"><span> Truck Tronton</span>
                                                </div> 
                                                <div class="ct_ktr dt_ktre p-b-0">
                                                    <img src="img/icon/ic_dmns1.png"><span> B 238999 DE </span>
                                                </div>
                                            </div> 
                                            <div class="col s12 m5 l5 ">
                                                <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                            </div> 
                                             
                                            <div class="col s12 m4 l4 center-align">
                                                 <button onclick="javascript:window.location.href='detail_daftar_jasa'" class="waves waves-effect m-t-10  btn btn-warning btn-block">Order Detail</button>
                                                 <button onclick="javascript:window.location.href='check_status_daftar_data'"  class="waves waves-effect  m-t-10 btn btn-warning-outline btn-block">History Status</button>
                                            </div> 

                                        </div>
                                        <div class="col s12 m9 l10  m-t-0  set-tgl-trx">
                                            <p class="nomargin text-grey p-l-10  left-align">Tanggal Selesai : 24 Okt 2017 22:00 </p>
                                        </div>
                                    </div> 
                              </div>
                                <div class="col s12 m12 l12 right-align">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                        <li class="active"><a href="#!">1</a></li>
                                        <li class="waves-effect"><a href="#!">2</a></li>
                                        <li class="waves-effect"><a href="#!">3</a></li>
                                        <li class="waves-effect"><a href="#!">4</a></li>
                                        <li class="waves-effect"><a href="#!">5</a></li>
                                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </main>
    <% include ../partials/footer %>
        <script type="text/javascript">
        $(document).ready(function() {
            
        $('ul.tabs-daftar-jasa').tabs({
          swipeable : false
        }); 
            $('.tabs-contact-setting').tabs();
            $('.selectmaterial').material_select();
            $('.select2_normal').select2();
            $('.datepicker').pickadate();
           

        });
        </script>
        </body>

        </html>