<% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Detail Transaksi Data Fleet</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                        <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                <a href="#" class="text-primary">Daftar Jasa fleet <span class="circle-nav">1</span></a>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header active text-primary">Data Diri</div>
                                    <div class="collapsible-body active">
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                        <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                        <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                        <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                    <div class="collapsible-body   active">
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                        <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0">
                            <ul id="tabs-daftar-jasa" class="tabs-daftar-jasa">
                                <li class="tab col s3"><a class="active" href="#trxjf">Transaksi Jasa Fleet</a></li>
                                <li class="tab col s3"><a  href="#historytrxfleet">History Transaksi </a></li> 
                            </ul>
                                <div id="trxjf" class="col s12 nopadding">
                                    <div class="col l12 m12 s12 nopadding card m-t-0">
                                        <div class="col s12 l12 m12 title-list">
                                            <div class="result_container_res lh-0 noborder">
                                                <div class="  m-b-0 result-container data-result lh-normalize noborder">
                                                    <div class="col s12 m3 l2 ">
                                                        <img src="img/logoB.png" class="responsive-img" >
                                                    </div>
                                                    <div class="col s12 m9 l10  p-t-0   p-r-0">
                                                        <div class="col s12 m12 p-r-0  b-b-grey">
                                                            <div class="col m6 s12 p-l-0 p-t-5">
                                                                <h6 class="text-primary">PT.Bhanda Ghara Reksa</h6>
                                                            </div>
                                                            <div class="col m6 s12 right-align p-r-0 ">
                                                                <a class="bg-warning  text-white padding510  light d-inline" href="#">Status Menunggu Barang Dari Pengguna</a>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 m12 p-l-0 p-r-0 m-t-10">
                                                            <div class="col s12 m4 l4  ">
                                                                <h6 class="text-warning fn-16 ">Jakarta - Surabaya</h6>
                                                                <p class="text-grey m-t-0 m-b-0   ">ID Order<br> DFGH12345678 </p>
                                                                 
                                                            </div>
                                                             <div class="col s12 m5  l5  ">
                                                                 <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                                                 
                                                            </div>
                                                            <div class="col s12 m3 l3    check_data_order">
                                                                 <button  onclick="location.href='check_status_history_transaksi'" class="waves waves-effect btn btn-warning btn-block"> Check Status</button>
                                                                 <button  onclick="location.href='detail_daftar_transaksi'"  class="waves waves-effect btn m-t-10 btn-warning-outline btn-block">Detail Order</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                    
                                </div>  
                                <div id="historytrxfleet" class="col s12 nopadding">
                                    <div class="col l12 m12 s12 nopadding card m-t-0">
                                        <div class="col s12 l12 m12 title-list">
                                            <div class="result_container_res lh-0 noborder">
                                                <div class="  m-b-0 result-container data-result lh-normalize noborder">
                                                    <div class="col s12 m3 l2 ">
                                                        <img src="img/logoB.png" class="responsive-img" >
                                                    </div>
                                                    <div class="col s12 m9 l10  p-t-0   p-r-0">
                                                        <div class="col s12 m12 p-r-0  b-b-grey">
                                                            <div class="col m6 s12 p-l-0 p-t-5">
                                                                <h6 class="text-primary">PT.Bhanda Ghara Reksa</h6>
                                                            </div>
                                                            <div class="col m6 s12 right-align p-r-0 ">
                                                                <a class="bg-danger  text-white padding510   d-inline" href="#">Status Rejected</a>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 m12 p-l-0 p-r-0 m-t-10">
                                                            <div class="col s12 m4 l4  ">
                                                                <h6 class="text-warning fn-16 ">Jakarta - Surabaya</h6>
                                                                <p class="text-grey m-t-0 m-b-0   ">ID Order<br> DFGH12345678 </p>
                                                                 
                                                            </div>
                                                             <div class="col s12 m5  l5  ">
                                                                 <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                                                 
                                                            </div>
                                                            <div class="col s12 m3 l3    check_data_order">
                                                                 <button  onclick="location.href='check_status_history_transaksi'" class="waves waves-effect btn btn-warning btn-block"> Check Status</button>
                                                                 <button  onclick="location.href='detail_daftar_transaksi'"  class="waves waves-effect btn m-t-10 btn-warning-outline btn-block">Detail Order</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                     <div class="col l12 m12 s12 nopadding card m-t-0">
                                        <div class="col s12 l12 m12 title-list">
                                            <div class="result_container_res lh-0 noborder">
                                                <div class="  m-b-0 result-container data-result lh-normalize noborder">
                                                    <div class="col s12 m3 l2 ">
                                                        <img src="img/logoB.png" class="responsive-img" >
                                                    </div>
                                                    <div class="col s12 m9 l10  p-t-0   p-r-0">
                                                        <div class="col s12 m12 p-r-0  b-b-grey">
                                                            <div class="col m6 s12 p-l-0 p-t-5">
                                                                <h6 class="text-primary">PT.Bhanda Ghara Reksa</h6>
                                                            </div>
                                                            <div class="col m6 s12 right-align p-r-0 ">
                                                                <a class="bg-success  text-white padding510   d-inline" href="#">Status Approved</a>
                                                            </div>
                                                        </div>
                                                        <div class="col s12 m12 p-l-0 p-r-0 m-t-10">
                                                            <div class="col s12 m4 l4  ">
                                                                <h6 class="text-warning fn-16 ">Jakarta - Surabaya</h6>
                                                                <p class="text-grey m-t-0 m-b-0   ">ID Order<br> DFGH12345678 </p>
                                                                 
                                                            </div>
                                                             <div class="col s12 m5  l5  ">
                                                                 <h6 class="fn-14 text-primary  lh-normalize">E.T.D : <span class="text-grey">Selasa, 12-11-2017 20:00</span></h6> 
                                                                <h6 class="fn-14 text-primary m-t-10  lh-normalize">E.T.A : <span class="text-grey">Selasa, 12-11-2017 23:00</span></h6> 
                                                                 
                                                            </div>
                                                            <div class="col s12 m3 l3    check_data_order">
                                                                 <button  onclick="location.href='check_status_history_transaksi'" class="waves waves-effect btn btn-warning btn-block"> Check Status</button>
                                                                 <button  onclick="location.href='detail_daftar_transaksi'"  class="waves waves-effect btn m-t-10 btn-warning-outline btn-block">Detail Order</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                              </div>
                                <div class="col s12 m12 l12 right-align">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                                        <li class="active"><a href="#!">1</a></li>
                                        <li class="waves-effect"><a href="#!">2</a></li>
                                        <li class="waves-effect"><a href="#!">3</a></li>
                                        <li class="waves-effect"><a href="#!">4</a></li>
                                        <li class="waves-effect"><a href="#!">5</a></li>
                                        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
        </section>
    </main>
    <% include ../partials/footer %>
        <script type="text/javascript">
        $(document).ready(function() {
            
        $('ul.tabs-daftar-jasa').tabs({
          swipeable : false
        }); 
            $('.tabs-contact-setting').tabs();
            $('.selectmaterial').material_select();
            $('.select2_normal').select2();
            $('.datepicker').pickadate();
           

        });
        </script>
        </body>

        </html>