 
  <% include ../partials/header %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <main class="m-b-200">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l6  m4 s12 rslt-breadcump">
                        <a href="result" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Data Delivery Order</a>
                    </div>
                </div>
            </div>
        </section> 
        <section>
            <div class="container w-85">
                <div class="row m-b-0  ">
                    <div class="col s12 m12 l8">  
                        <div class="card"> 
                            <div class="card-content detail-or  col s12  "> 
                                <div class="col s12 m6 l12"><img src="img/icon/ic_info1.png"  ><span>Detail Order<span></div>
                                
                            </div>
                            <div class="card-content p-b-0  p-l-10 p-r-10 col s12">

                                <div class="col s12 m6 l6">
                                    <div class="col s12 container-img-det">
                                        <img src="img/trr1.png" >
                                    </div>
                                </div>

                                <div class="col s12 m6 l6 side-detail-or ">
                                    <div class="col s12 p-b-10 m-b-20 bor-bot">
                                         <h5>PT POS INDONESIA</h5>
                                         <h6>Jasa Angkutan Barang dan Udara, darat dan Laut.</h6>
                                          
                                    </div>
                                    
                                    <div class="col s5 p-t-10 p-r-0">
                                         <div class="det_kot_as">
                                            <div class="col s3 nopadding">
                                             <img src="img/icon/map_11.png" width="28px">
                                             </div>
                                              <div class="col s9 nopadding sec_or_det">
                                                <p>Kota Asal<br><span>Jakarta</span></p>
                                             </div> 
                                         </div>
                                         <div class="det_kot_tj ">
                                            <div class="col s3 nopadding">
                                             <img src="img/icon/map_11.png" width="28px">
                                             </div>
                                              <div class="col s9 nopadding sec_or_det">
                                                <p>Kota Asal<br><span>Jakarta</span></p>
                                             </div> 
                                         </div> 
                                    </div>

                                    <div class="col s1 nopadding line_kot_dt">
                                        <img src="img/icon/line_11.png" width="11px;">
                                    </div>

                                    <div class="col s5 p-t-10 p-r-0">
                                        <div class="det_kot_as"> 
                                              <div class="col 12 nopadding sec_or_det">
                                                <p>Tanggal Pengiriman<br><span>Kamis, 30-05-2017</span></p>
                                             </div> 
                                        </div>
                                        <div class="det_kot_as"> 
                                              <div class="col 12 nopadding sec_or_det">
                                                <p>Durasi<br><span>2J 25M</span></p>
                                             </div> 
                                        </div>
                                        <div class="det_kot_as"> 
                                              <div class="col 12 nopadding sec_or_det">
                                                <p>Tanggal Pengiriman<br><span>Kamis, 30-05-2017</span></p>
                                             </div> 
                                        </div>  
                                    </div>  
                                </div> 
                            </div>
                            <div class="card-tabs tab_detailcont">
                              <ul class="tabs tab_detailcont-nav">
                                <li class="tab"><a class="active" href="#fasiliti">Fasilitas</a></li>
                                <li class="tab"><a class="" href="#deskripsi">Deskripsi</a></li>
                                <li class="tab"><a href="#spec">Spesifikasi</a></li>
                              </ul>
                            </div>

                            <div class="card-content grey lighten-4 des_tab_sc">
                            <div id="fasiliti" class="des_tab_sc col s12">
                                    <div class="col s12 noun">  
                                      <h5 class="    m-t-0 m-b-0">Fasilitas</h5>
                                        <div class=" col s12 m6 l6   fas_ltp p-l-0 "> 
                                            <ul>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m6 p-l-0 l6 fas_ltp">
                                           
                                            <ul>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div id="deskripsi" class="det_des text-light">
                                        <div class="row">
                                            <div class="col s12">
                                            <p class="text-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl  
                                        </p>
                                        </div> 
                                    </div> 
                                </div>

                                <div id="spec">
                                    <div class="col s12 noun">
                                        <div class="col s12 m12 l6  ">
                                            <h5>Tipe Armada</h5>
                                            <ul>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Jenis Fleet:</div>
                                                    <div class="col s12 m6 l6">Bak Tertutup</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Merk:</div>
                                                    <div class="col s12 m6 l6">Hyno</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Tahun Pembuatan:</div>
                                                    <div class="col s12 m6 l6">2009</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Tahun Perakitan:</div>
                                                    <div class="col s12 m6 l6">2004</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">ID Gps:</div>
                                                    <div class="col s12 m6 l6">Long25445,Lat,2522..</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Klasifikasi Produk:</div>
                                                    <div class="col s12 m6 l6">CHO2,H2O,GHO9</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m12 l6 m-t-0  ">
                                            <h5>Ukuran Karoseri</h5>
                                            <ul>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Volume:</div>
                                                    <div class="col s12 m6 l6">P: 20 M, L: 20M, T: 20M</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Kapasitas Isi:</div>
                                                    <div class="col s12 m6 l6">200 Ton</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Kapasitas Daya ANgkut:</div>
                                                    <div class="col s12 m6 l6">400 Ton</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m12 l6   ">
                                            <h5 class="m-t-0">Legalitas Armada</h5>
                                            <ul> 
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Nomor Polisi:</div>
                                                    <div class="col s12 m6 l6">BA 2055852 EZ</div> 
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Nomor Kur:</div>
                                                    <div class="col s12 m6 l6">00025455485551</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                
                            </div> 
                        </div> 
                    </div> 
                    <div class="col s12 m12 l4">
                        <ul class="collapsible form-accordion-detail"   data-collapsible="accordion" >

                            <div class="col s12"><h6> <i class="fa fa-folder"></i> Kelengkapan Data</h6></div>
                      
                            <li>
                                <div class="collapsible-header active">Kontak Detail <i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body kntk_dtil">
                                <form  id="data_function"  role="form"  >
                                    <div class="row m-b-0">

                                        <div class="col s12"  >
                                            <div class="row m-b-0">
                                                <div class="input-field col s12">
                                                    <input placeholder="Input Nama Lengkap" id="nama_lengkap" type="text" name="nama_lengkap" required=""  aria-required="true" class="validate">

                                                    <label  for="first_name" data-error="Isi Nama Lengkap Anda" class="active">Nama Lengkap</label>
                                                </div>
                                                
                                                <div class="input-field col s12">
                                                    <input required="" aria-required="true" placeholder="Input No Handphone" id="nope" name="nope" type="text" class="validate m-b-0 almmteml">
                                                    <label class="active" data-error="Input No Handphone"  for="nope">No Handphone</label>
                                                </div>
                                                <div class="input-field col s12 m-t-30">
                                                    <input required="" aria-required="true" placeholder="Input Alamat Email" id="email" name="email" type="email" class="validate m-b-0 almmteml">
                                                    <label class="active" data-error="Alamat Email Lengkap"  for="email">Alamat Email</label>
                                                </div>
                                                  
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header active">Total Beban Angkutan<i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body kntk_dtil">
                                    
                                    <div class="row m-b-0">

                                        <div class="col s12 total_beban" >
                                            <div class="row m-b-0">
                                                 

                                                <div class="input-field col s12">
                                                    <input placeholder="Input Berat Satuan" id="input_berat" type="text" required=""  name="input_berat" aria-required="true" class="validate">
                                                    <label  for="input_berat" data-error="Input Berat Satuan" class="active">Berat Total (KG)</label>
                                                </div>


                                                <div class="input-field col s4">
                                                    <input required="" aria-required="true" placeholder="panjang" id="panjang" name="panjang" type="text" class="validate m-b-0 almmteml">
                                                    <label class="active" data-error="Isi Panjang"  for="panjang">Volume</label>
                                                </div>

                                                <div class="input-field col s3">
                                                    <input required="" aria-required="true" placeholder="Lebar" id="lebar" name="lebar" type="text" class="validate m-b-0 almmteml">
                                                    <label class="active" data-error="Isi lebar"  for="lebar"></label>
                                                </div>

                                                 <div class="input-field col s3">
                                                    <input required="" aria-required="true" placeholder="Tinggi" id="tinggi" type="text" name="tinggi" class="validate m-b-0 almmteml"> 
                                                     <label class="active" data-error="Isi Tinggi"  for="tinggi"></label>
                                                </div>
                                                <div class="input-field col s2">
                                                    <select class="select_berat"  required="required" >
                                                        <option value="0">Cm</option>
                                                        <option value="1">M</option>
                                                    </select>
                                                </div>
                                                <div class="col s12 ">
                                                        <div class="total_order_cont">
                                                            <h6><strong>Dimensi</strong><br>0x0x0</h6>
                                                            <h6><strong>Total Volume</strong><br>0 Kg</h6>
                                                        </div>
                                                        <div class="cal_capaciti">
                                                            <p><strong>Maksimum Kapasitas Fleet</strong></p>
                                                            <p class="right-align ">700 Kg</p>
                                                        </div>
                                                        <div class="cal_capaciti">
                                                            <p><strong>Total Berat</strong></p>
                                                            <p class="right-align ">700 Kg</p>
                                                        </div>
                                                        <div class="cal_capaciti bg-grey">
                                                            <p><strong>Berat Tersedia</strong></p>
                                                            <p class="right-align "><strong>700 Kg</strong></p>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </li> 
                            <li>
                                <div class="collapsible-header active">Delivery Order <i class="material-icons">arrow_drop_down</i></div>
                                <div class="collapsible-body kntk_dtil">
                                    <div class="row m-b-0">
                                        <div class="col s12" >
                                            <div class="row m-b-0">
                                                <div class="input-field col s12">
                                                    <div class="input-field col s12 j_k_pick">
                                                    <span>Jenis Komoditif</span>
                                                    <p><strong>Beras, Jagung </strong></p>
                                                </div>
                                                <div class="input-field col  nopadding s12">
                                                    <textarea required="required" required="" aria-required="true"   id="textarea1" placeholder="Deskripsi Delivery Order" class="materialize-textarea m-b-0 validate"></textarea>
                                                    <label class=" textarea_lab" data-error="Isi Deskripsi"  for="textarea1" >Deskripsi Delivery Order</label>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>  
                                </div>
                            </li>
                            <li class="   btn_submit_container">
                                <div class="col s8 offset-s2  ">
                                    <button  id="submit"  data-target="mda"  class="btn waves waves-effect btn-warning btn-block  modal-trigger "    >Lanjut</button>
                                    
                                </div>
                                <div class="col s8 offset-s2 m-t-10 ">          
                                    <button  class="btn waves waves-effect btn-warning-outline btn-block">Simpan Order</button>
                                </div> 
                            </li>
                        </form>
                        </ul> 
                    </div>
                </div>
            </div>
        </section>
    <div id="mda" class="modal modal-fixed-footer">
        <div class="modal-content term_and_condition">
            <h4 class="center-align" >Term And Condition</h4>
            <p >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br> <br> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            <br> <br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum<br> <br> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
        <div class="modal-footer">
            <div  class="row m-b-0">
            <div class=" col s12 m6 l6">
            <p class="left m-l-20">
                <input type="checkbox" id="agree" />
                <label for="agree">I Accept and Agree</label>
            </p>
            </div>
           <div class="col s12 m6 l6">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Disagree</a>
            <a href="#"  data-target="mda2"  class="modal-action modal_close_aggre  waves-effect waves-green btn-flat ">Agree</a> 
            </div>
             </div>
        </div>
    </div>
<div class="preloader-background-2" style="display: none;">
    <img src="img/loader-3.gif">
</div>

      <div id="mda2" class="modal  modal-small ">
        <div class="modal-content  ">
            <div class="col s12 center-align">
                <img src="img/icon/check_order1.png" class="responsive-img">
            </div>
            <div class="col s12 center-align success_modal">
                <h4>Order Anda Berhasil</h4>
                <p>Order ID anda : <strong>201d41255584</strong></p>
                <p>Silahkan Lihat Detail untuk melihat detail pesanan anda.</p>
            </div>
            <div class="row">
                <div class="col  s12  m8 offset-m2 m-t-10">
                    <button class="btn btn-waves btn-primary btn-block "  onclick="window.location.href='/'" >Selesai</button> 
                </div>
                <div class="col  s12  m8 offset-m2 m-t-10">
                    <button class="btn btn-waves btn-warning btn-block  ">Lihat Detail</button> 
                </div>
            </div>
        </div>
        
    </div>
    </main>
 <script type="text/javascript"> 
$('.modal_close_aggre').click(function() {
     $('#mda').removeClass('open').fadeOut('fast',function(){

        $('.preloader-background-2').fadeIn();
        setTimeout(function() {
            $('.preloader-background-2').fadeOut();
              $('.modal-overlay').css('display','none');
            $('#mda2').attr('data-target','mda2');
           $('#mda2').modal().modal('open');
        }, 5000);
        
     });

});


$('.komoditif_d').material_select();
 $("#data_function").submit(function(e){
 if ($("#data_function").valid() == true ) {
    $('.modal').modal({
        dismissible: false, 
    });
 }else{

 }
  return false;
});
   
$(document).ready(function(){

    $('body').addClass('dasboard');
        $('#submit').click(function(e) {
            $("form input").on("invalid", function() { 
            $('.collapsible').find('li').addClass('active');
            $('.collapsible').find('li .collapsible-header').addClass('active');
            $('.collapsible').find('li .collapsible-body').slideDown();
            $('.collapsible').find('li input').focus();
        });
    });

}); 
$('.select_berat').material_select(); 
$('.select_material_2').material_select();
</script>
<% include ../partials/footer %>