

<% include ../partials/header %>
    <main class="m-b-200">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l6  m4 s12 rslt-breadcump">
                        <a href="data_delivery_order" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Data Delivery Order</a>
                    </div>
                    <div class="col s12 m8 l6">
                        <div class="timeline-horizontal">
                            <ul>
                                <li><a class="" href="#">5</a><br><span class="fin ">Selesai</span></li>
                                 <li><hr></li>
                                 <li><a class="" href="#">4</a><br><span class="kon ">Konfirmasi</span></li>
                                  <li><hr></li>
                                    <li><a class="" href="#">3</a><br><span class="rev ">Review</span></li>
                                  <li><hr class="active"></li>
                                 <li><a class="active" href="#">2</a><br><span class="d-or active">Data Order</span></li>
                                  <li><hr class="active"></li>
                                  <li><a class="active" href="#">1</a><br><span class="or active">Order</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row m-b-0 m-l-0">
                    <div class="col s12 m12 l12   del-order  ">
	                    <div class="col l6 m6 s12">
	                        <i class="fa fa-file-text-o "></i>
	                        <span>Delivery Order</span>
                        </div>
                        <div class="col l6 m6 s12"> 
	                        <a href="#" class="right detail_see">Lihat Detail Order</a>
                        </div>
                	</div> 
            	</div>
            	<div class="row m-l-0 m-t-13">
            		<div class="col s12 m4 l3 p-l-0  delive_order_1">
            			<ul class="z-depth-3   sub_nav_order">
            				<li class="active"><a   href="data1">Jenis Komoditif A (2 Item) <i class="fa fa-angle-right"></i></a></li>
            				<li class=""><a href="data2">Jenis Komoditif A (2 Item) <i class="fa fa-angle-right"></i></a></li>
            			</ul>
            		</div>


            		<div id="data1" class="col s12 m4 l5 z-depth-3  bg-white nopadding  ">
        				<ul class="item_data_order ">
        				 	<div class="accr active">
        				 		 <p >Beras</p>
        				 		 <p >Jumlah Item : 50 Karung <br> Total Berat : 250 Kg <i class="fa fa-caret-down  "></i></p> 
    				 		 </div>
        				 	<li>
    				 		<form >
            				 	<div class="upload_pick col s12">
            				 		<p>Upload Photo</p>
            				 		<a href="#">Hapus Item</a>
        				 		</div>
        				 		<div class="col s12 m-b-10 drop_img">
        				 			<input type="file" style="display:none" id="upload-image" multiple="multiple"></input>
										<div id="upload" class="drop-area">
										    <i class="fa fa-plus"></i>
										</div>
										<div id="thumbnail"></div>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Jumlah Item</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input jumlah Item"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Berat Satuan (KG)</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input Berat Satuan"></input>
        				 		</div>
        				 		<div class="  col s12 ">
        				 				<label class="vol">Dimensi</label>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class=" input-normal  normal_Input  col s2 "> 
        				 			 	<select class="normal_select"> 
									      <option value="1">CM</option>
									      <option value="2">KM</option>
									      <option value="3">ls</option>
									    </select>
    				 			</div>
    				 		</form>
        				 	</li>  
    				 	</ul>
    				 	<ul class="item_data_order ">
        				 	<div class="accr">
        				 		 <p >Beras</p>
        				 		 <p >Jumlah Item : 50 Karung <br> Total Berat : 250 Kg <i class="fa fa-caret-down  "></i></p> 
    				 		 </div>
        				 	<li>
    				 		<form  >
            				 	<div class="upload_pick col s12">
            				 		<p>Upload Photo</p>
            				 		<a href="#">Hapus Item</a>
        				 		</div>
        				 		<div class="col s12 m-b-10 drop_img">
        				 			<input type="file" style="display:none" id="upload-image" multiple="multiple"></input>
										<div id="upload" class="drop-area">
										    <i class="fa fa-plus"></i>
										</div>
										<div id="thumbnail"></div>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Jumlah Item</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input jumlah Item"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Berat Satuan (KG)</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input Berat Satuan"></input>
        				 		</div>
        				 		<div class="  col s12 ">
        				 				<label class="vol">Dimensi</label>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class=" input-normal  normal_Input  col s2 "> 
        				 			 	<select class="normal_select"> 
									      <option value="1">CM</option>
									      <option value="2">KM</option>
									      <option value="3">ls</option>
									    </select>
    				 			</div>
    				 		</form>
        				 	</li>  
    				 	</ul> 
            		</div>



            		<div id="data2" class="col s12 m4 l5 z-depth-3  bg-white nopadding  " style="display: none;">
        				<ul class="item_data_order ">
        				 	<div class="accr active">
        				 		 <p >BATU-BATA</p>
        				 		 <p >Jumlah Item : 50 Karung <br> Total Berat : 250 Kg <i class="fa fa-caret-down  "></i></p> 
    				 		 </div>
        				 	<li>
    				 		<form >
            				 	<div class="upload_pick col s12">
            				 		<p>Upload Photo</p>
            				 		<a href="#">Hapus Item</a>
        				 		</div>
        				 		<div class="col s12 m-b-10 drop_img">
        				 			<input type="file" style="display:none" id="upload-image" multiple="multiple"></input>
										<div id="upload" class="drop-area">
										    <i class="fa fa-plus"></i>
										</div>
										<div id="thumbnail"></div>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Jumlah Item</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input jumlah Item"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Berat Satuan (KG)</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input Berat Satuan"></input>
        				 		</div>
        				 		<div class="  col s12 ">
        				 				<label class="vol">Dimensi</label>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class=" input-normal  normal_Input  col s2 "> 
        				 			 	<select class="normal_select"> 
									      <option value="1">CM</option>
									      <option value="2">KM</option>
									      <option value="3">ls</option>
									    </select>
    				 			</div>
    				 		</form>
        				 	</li>  
    				 	</ul>
    				 	<ul class="item_data_order ">
        				 	<div class="accr">
        				 		 <p >Beras</p>
        				 		 <p >Jumlah Item : 50 Karung <br> Total Berat : 250 Kg <i class="fa fa-caret-down  "></i></p> 
    				 		 </div>
        				 	<li>
    				 		<form  >
            				 	<div class="upload_pick col s12">
            				 		<p>Upload Photo</p>
            				 		<a href="#">Hapus Item</a>
        				 		</div>
        				 		<div class="col s12 m-b-10 drop_img">
        				 			<input type="file" style="display:none" id="upload-image" multiple="multiple"></input>
										<div id="upload" class="drop-area">
										    <i class="fa fa-plus"></i>
										</div>
										<div id="thumbnail"></div>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Jumlah Item</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input jumlah Item"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s12">
        				 			<label>Berat Satuan (KG)</label>
        				 			<input type="text" name="jumlah_item" placeholder="Input Berat Satuan"></input>
        				 		</div>
        				 		<div class="  col s12 ">
        				 				<label class="vol">Dimensi</label>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class="input-normal  normal_Input  col s3"> 
        				 			<input type="text" name="jumlah_item" placeholder="Panjang"></input>
        				 		</div>
        				 		<div class=" input-normal  normal_Input  col s2 "> 
        				 			 	<select class="normal_select"> 
									      <option value="1">CM</option>
									      <option value="2">KM</option>
									      <option value="3">ls</option>
									    </select>
    				 			</div>
    				 		</form>
        				 	</li>  
    				 	</ul> 
            		</div>


            		<div class="col s12 m4 l4    p-r-0">
        				<div class=" col nopadding  p-b-20  l12 s12 z-depth-3 ">
        					<div class="col s12 tot_angkt">
        						<img src="img/icon/ic_kg_221.png">
        						<h6>Total Beban Angkutan</h6>
        					</div>
        					<div class="col s12">
        					<form >
        						 <div class="check_box_mdff">
								      <input type="checkbox" id="test5" />
								      <label for="test5">Masukan Dimensi Manual</label>
							    </div>
							    <div class="col s12 dimensi_tot1 nopadding ">
							    	<p>Dimensi<br><strong>20x220x220 cm</strong></p>
							    	<p>Dimensi<br><strong>20x220x220 cm</strong></p>
							    </div>
							     <div class="col s12 max_kap nopadding ">
							    	<p>Maksimum Kapasitas Fleet</p>
							    	<p><strong>7000 Kg</strong></p>
							    </div>
							     <div class="col s12 max_kap nopadding ">
							    	<p>Total Berat</p>
							    	<p><strong>7000 Kg</strong></p>
							    </div>
							     <div class="col s12 max_kap nopadding grey lighten-3">
							    	<p><strong>Berat Tersedia</strong></p>
							    	<p><strong>7000 Kg</strong></p>
							    </div>
							    <div class="col s12   m-t-20">
							    	<div class="col s8 offset-s2  ">
							    	<button  class="btn waves waves-effect btn-warning btn-block "  >Lanjut</button>
							    	</div>
                                 	<div class="col s8 offset-s2 m-t-10 ">          
                                    <button  class="btn waves waves-effect btn-warning-outline btn-block">Simpan Order</button>
                                    </div> 
							    </div>
        					</form>
        						
        					</div>
        				</div>
            		</div>
            	</div>
        	</div>


            
        </section>
         <script type="text/javascript">
          $('body').addClass('dasboard');
         	$('.normal_select').material_select();
         </script>
         <script type="text/javascript" src="js/drop_img.js"></script>
    </main>
   
 <% include ../partials/footer %>
