<% include ../partials/header_after_login %>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
    <main class="m-b-200">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="daftar_jasa_fleet" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Detail Order Data Fleet</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row m-b-0  ">
                        <div class="col s12 m4 l4">
                            <ul class="collapsible form-accordion-detail" data-collapsible=" "> 
                                <li>
                                    <div class="collapsible-header active">Kontak Detail <i class="material-icons">arrow_drop_down</i></div>
                                    <div class="collapsible-body kntk_dtil"> 
                                        <div class="row m-b-0">
                                            <div class="col s12">
                                                <div class="row m-b-0">
                                                    <div class="col s12">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Nama Lengkap:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">Budi Santoso</p>
                                                    </div>
                                                    <div class="col s12 m-t-10">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">No Handphone:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">087854555644</p>
                                                    </div>
                                                    <div class="col s12 m-t-10">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Alamat Email:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">Budi@Posindonesia.gov.id</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active">Kapasitas Muatan<i class="material-icons">arrow_drop_down</i></div>
                                    <div class="collapsible-body kntk_dtil">
                                        <div class="row m-b-0">
                                            <div class="col s12 total_beban">
                                                <div class="row m-b-0">
                                                    <div class="col s4 m-t-10   bor-right">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Dimensi:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">270x220x120</p>
                                                    </div> 
                                                    <div class="col s4 m-t-10   bor-right">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Total Volume:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">800 Kg</p>
                                                    </div> 
                                                     <div class="col s4 m-t-10 ">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Total Berat:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light">5000 Kg</p>
                                                    </div> 

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active">Delivery Order <i class="material-icons">arrow_drop_down</i></div>
                                    <div class="collapsible-body kntk_dtil">
                                         <div class="row m-b-0">
                                            <div class="col s12 ">
                                                <div class="row m-b-0">
                                                    <div class="col s12 detail_data_jasa">
                                                        <a href="#">Bahan Bangunan</a>
                                                        <a href="#">Bahan Bangunan</a> 
                                                    </div>
                                                    
                                                    <div class="col s12 m-t-10    ">
                                                        <p class="text-primary fn-14 m-t-0 m-b-0">Keterangan:</p>
                                                        <p class="text-grey m-t-5 m-b-0 light"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum</p>
                                                    </div> 
                                                     <div class="col s12 m12 l12 m-t-20">
                                                         <div class="waves waves-effect btn btn-warning btn-block">Reject</div>
                                                     </div>

                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </li>
                               
                            </ul>
                        </div> 
                    <div class="col s12 m12 l8">
                        <div class="card">
                            <div class="card-content detail-or  col s12  ">
                                <div class="col s12 m6 l12"><img src="img/icon/ic_info1.png"><span>Detail Order<span></div> 
                            </div>
                            <div class="card-content p-b-0  p-l-10 p-r-10 col s12"> 
                                <div class="col s12 m6 l6">
                                    <div class="col s12 container-img-det">
                                        <img src="img/trr1.png" >
                                    </div>
                                </div> 
                                <div class="col s12 m6 l6 side-detail-or ">
                                    <div class="col s12 p-b-10 m-b-20 bor-bot">
                                         <h5>PT POS INDONESIA</h5>
                                         <h6>Jasa Angkutan Barang dan Udara, darat dan Laut.</h6> 
                                    </div>
                                    
                                    <div class="col s5 p-t-10 p-r-0">
                                         <div class="det_kot_as">
                                            <div class="col s3 nopadding">
                                             <img src="img/icon/map_11.png" width="28px">
                                            </div>
                                            <div class="col s9 nopadding sec_or_det">
                                                <p>Kota Asal<br><span>Jakarta</span></p>
                                            </div>
                                        </div>
                                        <div class="det_kot_tj ">
                                            <div class="col s3 nopadding">
                                                <img src="img/icon/map_11.png" width="28px">
                                            </div>
                                            <div class="col s9 nopadding sec_or_det">
                                                <p>Kota Asal
                                                    <br><span>Jakarta</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s1 nopadding line_kot_dt">
                                        <img src="img/icon/line_11.png" width="11px;">
                                    </div>
                                    <div class="col s5 p-t-10 p-r-0">
                                        <div class="det_kot_as">
                                            <div class="col 12 nopadding sec_or_det">
                                                <p>Tanggal Pengiriman
                                                    <br><span>Kamis, 30-05-2017</span></p>
                                            </div>
                                        </div>
                                        <div class="det_kot_as">
                                            <div class="col 12 nopadding sec_or_det">
                                                <p>Durasi
                                                    <br><span>2J 25M</span></p>
                                            </div>
                                        </div>
                                        <div class="det_kot_as">
                                            <div class="col 12 nopadding sec_or_det">
                                                <p>Tanggal Pengiriman
                                                    <br><span>Kamis, 30-05-2017</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-tabs tab_detailcont">
                                <ul class="tabs tab_detailcont-nav">
                                    <li class="tab"><a class="active" href="#fasiliti">Fasilitas</a></li>
                                    <li class="tab"><a class="" href="#deskripsi">Deskripsi</a></li>
                                    <li class="tab"><a href="#spec">Spesifikasi</a></li>
                                </ul>
                            </div>
                            <div class="card-content grey lighten-4 des_tab_sc">
                                <div id="fasiliti" class="des_tab_sc col s12">
                                    <div class="col s12 noun">
                                        <h5 class="    m-t-0 m-b-0">Fasilitas</h5>
                                        <div class=" col s12 m6 l6   fas_ltp p-l-0 ">
                                            <ul>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m6 p-l-0 l6 fas_ltp">
                                            <ul>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                                <li>
                                                    <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div id="deskripsi" class="det_des text-light">
                                    <div class="row">
                                        <div class="col s12">
                                            <p class="text-grey">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div id="spec">
                                    <div class="col s12 noun">
                                        <div class="col s12 m12 l6  ">
                                            <h5>Tipe Armada</h5>
                                            <ul>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Jenis Fleet:</div>
                                                    <div class="col s12 m6 l6">Bak Tertutup</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Merk:</div>
                                                    <div class="col s12 m6 l6">Hyno</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Tahun Pembuatan:</div>
                                                    <div class="col s12 m6 l6">2009</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Tahun Perakitan:</div>
                                                    <div class="col s12 m6 l6">2004</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">ID Gps:</div>
                                                    <div class="col s12 m6 l6">Long25445,Lat,2522..</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Klasifikasi Produk:</div>
                                                    <div class="col s12 m6 l6">CHO2,H2O,GHO9</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m12 l6 m-t-0  ">
                                            <h5>Ukuran Karoseri</h5>
                                            <ul>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Volume:</div>
                                                    <div class="col s12 m6 l6">P: 20 M, L: 20M, T: 20M</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Kapasitas Isi:</div>
                                                    <div class="col s12 m6 l6">200 Ton</div>
                                                </li>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Kapasitas Daya ANgkut:</div>
                                                    <div class="col s12 m6 l6">400 Ton</div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col s12 m12 l6   ">
                                            <h5 class="m-t-0">Legalitas Armada</h5>
                                            <ul>
                                                <li class="col s12 nopadding text-grey text-light">
                                                    <div class="col s12 m6 l6">Nomor Polisi:</div>
                                                    <div class="col s12 m6 l6">BA 2055852 EZ</div>
                                                    <li class="col s12 nopadding text-grey text-light">
                                                        <div class="col s12 m6 l6">Nomor Kur:</div>
                                                        <div class="col s12 m6 l6">00025455485551</div>
                                                    </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
      
    </main>
    <script type="text/javascript">
    $('.modal_close_aggre').click(function() {
        $('#mda').removeClass('open').fadeOut('fast', function() {

            $('.preloader-background-2').fadeIn();
            setTimeout(function() {
                $('.preloader-background-2').fadeOut();
                $('.modal-overlay').css('display', 'none');
                $('#mda2').attr('data-target', 'mda2');
                $('#mda2').modal().modal('open');
            }, 5000);

        });

    });


    $('.komoditif_d').material_select();
    $("#data_function").submit(function(e) {
        if ($("#data_function").valid() == true) {
            $('.modal').modal({
                dismissible: false,
            });
        } else {

        }
        return false;
    });

    $(document).ready(function() {

        $('body').addClass('dasboard');
        $('#submit').click(function(e) {
            $("form input").on("invalid", function() {
                $('.collapsible').find('li').addClass('active');
                $('.collapsible').find('li .collapsible-header').addClass('active');
                $('.collapsible').find('li .collapsible-body').slideDown();
                $('.collapsible').find('li input').focus();
            });
        });

    });
    $('.select_berat').material_select();
    $('.select_material_2').material_select();
    </script>
    <% include ../partials/footer %>