 <% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Help Air</a> 
                    </div>
                    
                </div>
            </div>
        </section>
          <div class="container">
            <div class="section">  
                  <div class="row">
                      <div class="col l3 m3 s12   p-l-0 p-r-0">
                        <div class="col s12 z-depth-1   data_menucollapse">  
                              <ul>
                                  <li>
                                      <a class="active" href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                                  <li>
                                      <a href="#">Batuan Terkait Air 1</a>
                                  </li>
                              </ul>
                        </div>
                      </div>
                       <div class="col l9 m9 s12    ">
                        <div class="col s12 z-depth-2  ">  
                            <div class="col  m12 s12 l12 p-r-20  p-l-20">
                              <h5 class="center-align  text-primary m-b-20">Bantuan AiR Tentang Bagaiman Menggunakan Aplikasi</h5>
                              <div class="divider"></div>
                              <p class="text-grey light fn-14 justify-align scroll-max">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>
                                 Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scramble.<br><br>
                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                <br>

                              </p>
                        </div>
                        </div>
                      </div>

                  </div>
              </div>            
            </div>
          </div> 
      </section> 
    </main>
      <% include ../partials/footer %> 
    
</body>

</html>