<% include ../partials/header_after_login %> 
    <section class="black">
        <div class="carousel carousel-slider" data-indicators="true">
            <div class="carousel-item   lighten-2 white-text" style="background-image: url('img/slider/1.jpg');" href="#one!">
                <div class="container">
                    <img src="img/slider/promo1.png">
                </div>
            </div>
            <div class="carousel-item amber  white-text" style="background-image: url('img/slider/1.jpg');" href="#two!">
                <div class="container">
                    <img src="img/slider/promo1.png">
                </div>
            </div>
        </div>
    </section>
    <div class="container form-search-all">
        <div class="row ">
            <div class="col s12 nopadding">
                <ul class="tabs transparent">
                    <li class="tab col s2"><a class="waves-effect waves-light btn-primary " href="#inbox"><img src="img/icon/ic_fleet1.png"> Fleet</a></li>
                </ul>
            </div>
            <div id="inbox" class="col s12 z-depth-smoth white form-inner">
                <div class="row m-b-0 ">
                    <form class=" fm-container" action="result " >
                        <div class="col s12 m12 l3 p-l-0">
                            <div class="row m-b-0">
                                <div class=" col s12  fm-group">
                                    <div class="col s2  nopadding center-align ">
                                        <img class="responsive-img " src="img/icon/ic_asal1.png">
                                    </div>
                                    <label class="text-primary">kota Asal</label>
                                    <div class="input-field col s10  fm-input p-l-0">
                                        <select class="select" required >
                                            <option value="" disabled selected>Pilih Kota Asal</option>
                                            <option value="1">Jakarta</option>
                                            <option value="2">Bandung</option>
                                            <option value="3">Surakarta</option>
                                        </select>
                                    </div>
                                    <div class="return-btn">
                                        <a href="#" class="waves-effect waves-light"><img src="img/icon/ic_return1.png"></a>
                                    </div>
                                </div>
                                <div class=" col s12  fm-group m-t-10">
                                    <div class="col s2 nopadding center-align ">
                                        <img class="responsive-img " src="img/icon/ic_tujuan1.png">
                                    </div>
                                    <label class="text-primary">kota Tujuan</label>
                                    <div class="input-field col s10  fm-input p-l-0">
                                        <select class="select" required >
                                            <option value="" disabled selected>Pilih Kota Tujuan</option>
                                            <option value="1">Jakarta</option>
                                            <option value="2">Bandung</option>
                                            <option value="3">Surakarta</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l3 m-t-mobile-10 p-l-mobile-0 p-r-mobile-0 date_res">
                            <div class="row m-b-0 m-l-5 m-l-mobile-0 m-r-mobile-0">
                                <div class=" col s12  fm-group">
                                    <div class="col s2 nopadding center-align ">
                                        <img class="responsive-img " src="img/icon/ic_date1.png">
                                    </div>
                                    <label class="text-primary">Tanggal Pengiriman</label>
                                    <div class="input-field col s9  fm-input p-l-0  datechange" name="daterange">
                                        <input type="text" name="startDate" class="datepicker validate" value="11/10/2017"   />
                                    </div>
                                </div>
                                <div class=" col s12  fm-group m-t-10 ">
                                    <div class="col s2 nopadding center-align ">
                                        <img class="responsive-img " src="img/icon/ic_date1.png">
                                    </div>
                                    <label class="text-primary">Tanggal Tiba</label>
                                    <div class="input-field col s9  fm-input p-l-0 datechange1">
                                        <input type="text" name="endDate" class="datepicker  valdate" value="16/10/2017"  >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l3  m-t-mobile-10 p-l-mobile-0 p-r-mobile-0  ">
                            <div class="row m-b-0 m-l-5">
                                <div class=" col s12  fm-group del_form_order">
                                    <div class="col s2 nopadding  center-align ">
                                        <img class="responsive-img " src="img/icon/ic_del1.png">
                                    </div>
                                    <label class="text-primary">Delivery Order</label>
                                    <div class="input-field col s9  fm-input p-l-0  fm-multiple">
                                        <select   class="select_material" multiple>
                                            <option value="0"  selected>Komoditif 0</option>
                                            <option value="1">komoditif 1</option>
                                            <option value="2">komoditif 2</option>
                                            <option value="3">komoditif 3</option>
                                        </select>
                                    </div>
                              
                                    <p class="l-h-0">
                                        <input class="with-gap" name="group1" type="radio" id="test2" checked />
                                        <label for="test2">Dimensi Item</label>
                                    </p>
                                    <p class="l-h-0">
                                        <input class="with-gap  " name="group1" type="radio" id="test3" />
                                        <label for="test3"> Pilih Daftar Item Order </label>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m12 l3 ">
                            <div class="row m-b-0 m-l-5">
                                <div class=" col s12 m-t-10   center-align ">
                                    <button class="waves waves-effect  waves-dark     btn-form  btn-block-mobile" <%globalString = 1%>  ><i class="material-icons  left">search</i>Search</button>
                                    <p class="text-grey center-align">Lakukan Pencarian Anda</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <main class="main-dashboard">
        <section>
            <div class="container w-80">
                <h5 class="text-primary">Favorite Rute</h5>
                <hr>
                <br>
                <div class="col s12 ">
                    <div class="row">
                        <div class="col s12 m6 l4 xl3 m-t-5 bg-transparent  ">
                            <div class="card-ds z-depth-3">
                                <img src="img/truck1.png">
                                <div class="tiitle-ds">
                                    <p class="m-t-0 m-b-0 text-white f-w-300">Jasa Angkutan<span class="right date-card">12 January 2017 </span></p>
                                    <h5 class="m-t-0 m-b-0 text-white"><small>Jakarta-Surabaya</small> <a class="waves-effect waves-light btn btn-warning btn-small right" href="#">Order</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4 xl3   m-t-5 bg-transparent  ">
                            <div class="card-ds z-depth-3">
                                <img src="img/truck1.png">
                                <div class="tiitle-ds">
                                    <p class="m-t-0 m-b-0 text-white f-w-300">Jasa Angkutan<span class="right date-card">12 January 2017 </span></p>
                                    <h5 class="m-t-0 m-b-0 text-white"><small>Jakarta-Surabaya</small> <a class="waves-effect waves-light btn btn-warning btn-small right" href="#">Order</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4 xl3 bg-transparent   m-t-5 ">
                            <div class="card-ds z-depth-3">
                                <img src="img/truck1.png">
                                <div class="tiitle-ds">
                                    <p class="m-t-0 m-b-0 text-white f-w-300">Jasa Angkutan<span class="right date-card">12 January 2017 </span></p>
                                    <h5 class="m-t-0 m-b-0 text-white"><small>Jakarta-Surabaya</small> <a class="waves-effect waves-light btn btn-warning btn-small right" href="#">Order</a></h5>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4 xl3 bg-transparent   m-t-5 ">
                            <div class="card-ds z-depth-3">
                                <img src="img/truck1.png">
                                <div class="tiitle-ds">
                                    <p class="m-t-0 m-b-0 text-white f-w-300">Jasa Angkutan<span class="right date-card">12 January 2017 </span></p>
                                    <h5 class="m-t-0 m-b-0 text-white"><small>Jakarta-Surabaya</small> <a class="waves-effect waves-light btn btn-warning btn-small right" href="#">Order</a></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
      <% include ../partials/footer %>
    <script type="text/javascript">
    // SIDEBAR 
    $(document).ready(function() {
        $('body').addClass('dasboard');
        $('.datechange1').click(function() {

            $('.datechange').click();
            $('.daterangepicker ').addClass('pst');
        });
        $('.datechange').click(function() {
            $('.daterangepicker ').removeClass('pst');
        });
        $(function() {
            $('div[name="daterange"]').daterangepicker({
                "showDropdowns": true,
                "autoApply": true,
                "startDate": "11/10/2017",
                "endDate": "16/10/2017",
                "opens": "center",
                locale: {
                    format: 'DD/MM/YYYY'
                },
            }, function(start, end, label) {
                date_start = $('input[name="daterangepicker_start"]').val();
                date_end = $('.daterangepicker_input input[name="daterangepicker_end"]').val();
                $('input[name="startDate"]').val(date_start);
                $('input[name="endDate"]').val(date_end);

            });
        });
        // START OPEN
        $('.select').select2();
        $('.select_material').material_select();

        $('.carousel').carousel({
            dist: 0,
            padding: 0,
            fullWidth: true,
            indicators: true,
            duration: 100,
        });
        autoplay()

        function autoplay() {
            $('.carousel').carousel('next');
            setTimeout(autoplay, 4500);
        }
 
    });
    </script>
