<!DOCTYPE html>
<html>

<head>
    <title>Sinergi BUMN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2-materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body class="register">
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-register white z-depth-2">
        <div id="login" class="col s12" >
            <form class="col s12" action="/">
                <div class="form-container form-container-register">
                    <div class="col s12 center-align m-b-20">
                        <img width="220" src="img/logo.png">
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" required="true" required placeholder="Masukan Email Anda" class="validate">
                            <label for="email" data-error="Please enter your Name">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" required required="true" placeholder="Input Password" class="validate">
                            <label for="password" data-error="please Input Your Password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class=" col s12 right">
                            <a   href="forgot_password">Forgot password?</a>
                        </div>
                    </div>
                    <br>
                    <center>
                        <button  class="btn waves-effect waves-light btn-primary btn-block unset" type="submit"  >Login</button>
                    </center>
                </div>
            </form>
        </div> 
        <center class="bg-trnsprt change_into">
            <h6 class="l-h-3">Belum Punya Akun ? <a href="signup" class="btn-login text-primary"  >Signup</a></h6>
        </center>
    </div>
    <script type="text/javascript">
    $('.select_material').material_select();
 
    </script>
</body>

</html>