 
 <% include ../partials/header %>
 
   <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Hasil Pencarian Fleet</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row m-b-0">
                            <div class="col l8 m8 s12">
                                <div class="row m-b-0">
                                    <h6 class="text-primary f-w-400">JAKARTA &nbsp;<img src="img/icon/ic_back_forward.png" width="20"> &nbsp;SURABAYA</h6>
                                    <p class="text-grey f-w-300">Senin, 23 Oktober 2017 - Senin, 23 Oktober 2017 </p>
                                </div>
                            </div>
                            <div class="col l4 m4 s12">
                                <div class="row right-align m-t-20">
                                    <a href="#" class="waves-effect waves-light btn btn-primary ">Ganti Pencarian</a>
                                </div>
                            </div>
                        </div>
                
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
               

                <div class="row">
                    <div class="col l2-5 m12 s12 colapsible-result p-l-0 p-r-0">
                        <ul class="collapsible  no-shadow" data-collapsible="accordion">
                            <li>
                              <div class="collapsible-header"><h6><strong>FILTER</strong></h6></div>
                              <div class="collapsible-body p-t-0  p-l-10">
                              <div class="row filter_row">
                                <ul class="sub_filter_result p-t-0">
                                    
                                    <li class="Prs_inpt col s12">
                                        <div class="p-b-10"><a href="#" >Jenis Armada</a></div>
                                         <ul class="">
                                            <li class="m-l-10 pss">
                                                <form action="#"> 
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="Truck1" />
                                                <label for="Truck1">Truck Tronton</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="Truck2" />
                                                <label for="Truck2">Truck Colt Diesel</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="Truck3" />
                                                <label for="Truck3">Truck Trailer</label>
                                                </p>
                                                
                                                <p  class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="Truck4" />
                                                <label for="Truck4">Container</label>
                                                </p>
                                               
                                                <p  class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="Truck5" />
                                                <label for="Truck5">Pick Up</label>
                                                </p>
                                                 
                                                </form>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li class="  Prs_inpt col s12 ">
                                        <div class="p-b-10"><a href="#" >Perusahaan</a></div>
                                         <ul class="">
                                            <li class="m-l-10 pss">
                                                <form action="#"> 
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="per1" />
                                                <label for="per1">PT Pos Indonesia</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="per2" />
                                                <label for="per2">PT. BGR</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="per3" />
                                                <label for="per3">PT. Sarinah</label>
                                                </p>
                                                
                                                <p  class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="per4" />
                                                <label for="per4">PT. PLN </label>
                                                </p>  
                                                </form>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li class="  Prs_inpt col s12">
                                        <div class="p-b-10"><a href="#" >Kapasitas Berat (Kg)</a></div>
                                        <ul>
                                            <li>
                                            <div class=" col s12 m-t-10"> 
                                                  
                                                    <div class="sliderCont">
                                                            <div id="range"></div>
                                                    </div>
                                                    <div class="col s6">
                                                        <input class="form-control " type="text" id="minCost" value="0"/>
                                                     </div>
                                                     <div class="col s6 ">
                                                        <input class="form-control " type="text" id="maxCost" value="1000"/>
                                                    </div>
                                                    
                                                
                                            </div>
                                            
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="  Prs_inpt col s12">
                                        <div class="p-b-10"><a href="#" >Volume</a></div>
                                        <ul>
                                            <li>
                                            <div class="input-field col s4"> 
                                                <input type="text"  placeholder="Panjang" > 
                                            </div>
                                            <div class="input-field col s4"> 
                                                <input type="text"  placeholder="Lebar" > 
                                            </div>
                                            <div class="input-field col s4"> 
                                                <input type="text"  placeholder="Tinggi" > 
                                            </div>
                                            </li>
                                        </ul>

                                    </li>
                                    <li class="   Prs_inpt col s12">
                                        <div class="p-b-10"><a href="#" >Estimate Waktu</a></div>
                                        <ul>
                                            <li>
                                                <div class="timepicker_component col s12"  >
                                                  <div class="col s12">
                                                    <div class="time-container">
                                                      <div class="input-time">
                                                        <p><span class="time-from">00:00</span> - <span class="time-to">00:00</span>
                                                        </p>
                                                        <!-- <span class="btn bs-caret"><span class="frh frh-chevron-gauche"></span></span> -->
                                                        <div class="drop-time">
                                                          <div class="row">
                                                            <div class="fromTo from col s6"></div>
                                                            <div class="fromTo to col s6"></div>
                                                          </div>
                                                        </div>
                                                        <select class="select_time select_time-from"></select>
                                                        <select class="select_time select_time-to"></select>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="   Prs_inpt col s12">
                                        <div class="p-b-10"><a href="#" >Jalur Transport</a></div>
                                        <ul class="">
                                            <li class="m-l-10 pss">
                                                <form action="#"> 
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="ja1" />
                                                <label for="ja1">Darat</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="ja2" />
                                                <label for="ja2">Laut</label>
                                                </p>
                                                
                                                <p class="col s6 m4 l12">
                                                <input type="checkbox" class="small_checked" id="ja3" />
                                                <label for="ja3">Udara</label>
                                                </p>
                                                
                                                </form>
                                            </li>
                                        </ul> 
                                    </li>
                                    <li  class="  Prs_inpt  prst-btn col s12 b-b-0" >
                                        <a href="#" class="waves waves-effect center-align btn btn-warning-outline  col s12 m5 l5 m-t-10 ">Reset</a>
                                        <a href="#" class="waves waves-effect center-align btn  btn-warning  col s12  m5 l5  m-t-10">Filter</a> 
                                    </li>
                                </ul>
                                </div>
                              </div>
                            </li> 
                        </ul> 
                    </div>
                    <div class="col l9-5 m12 s12 p-l-30">
                        
                        <div class="row tabblesort hide-on-small-only ">
                            <div class="col l2 m3  center-align ">
                                <a href="#">Nama Perusahaan
                                <img src="img/icon/caret_two1.png"></a>
                            </div>
                            <div class="col l2 m3   center-align ">
                                <a href="#">Keberangkatan <img src="img/icon/caret_two1.png"></a>
                            </div>
                            <div class="col l2 m3  center-align  ">
                                <a href="#">Tujuan <img src="img/icon/caret_two1.png"></a>
                            </div>
                            <div class="col l2 m3   center-align">
                                <a href="#">Durasi <img src="img/icon/caret_two1.png"></a>
                            </div>
                            <div class="col s2  center-align hide-on-med-and-down">
                                <a href="#">Keterangan <img src="img/icon/caret_two1.png"></a>
                            </div>
                        </div>
                        <div class="result_container_res" style="display: none;">
                            <div class="row m-b-0 result-container">
                                <div class="col s12 m3 l2 img-result">
                                    <div class="n_C">PT POS INDONESIA</div>
                                    <img src="img/trr1.png">
                                </div>
                                <div class="col l2 m3 result_tj">
                                    <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                    <h5 class="tj_wak">16:30</h5>
                                    <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                </div>
                                <div class="col l2 m3 s4 result_tj ">
                                    <div class="img_fleet hide-on-small-only "><img src="img/icon/ic_result1.png"></div>
                                    <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                    <h5 class="tj_wak">16:30</h5>
                                    <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                </div>
                                <div class="col l2 m3 s4 result_tj tj_dr">
                                    <h5 class="tj_wak">2j 53 m</h5>
                                    <h6 class="tj_tuj">Transit</h6>
                                </div>
                                <div class="col l2 m8 s12 ket_rs">
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                    </div>
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                    </div>
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                    </div>
                                </div>
                                <div class="col l2 m12   s12 ket_rs_btn">
                                    <div class="col s12">
                                        <a href="data_delivery_order" class="waves waves-effect  btn btn-block btn-warning modal-trigger" >Pilih</a>
                                        <br>
                                        <br>
                                        <a href="#" class="waves waves-effect  btn btn-block btn-warning-outline detail_see">Lihat Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row detail_result_tt m-b-0" style="display: none;">
                                <div class="row m-b-0  m-r-0 m-l-0  load_result"></div>
                                <div class="row m-b-0 result_scr" style="display: none">
                                    <div class="col s12">
                                        <div class="col s12  border-full border-top-no">
                                            <div class="col s12">
                                                <ul class="tabs result_dt_1">
                                                    <li class="tab col s2"><a class="active">Fasilitas</a></li>
                                                    <li class="tab col s2"><a href="#spec">Deskripsi</a></li>
                                                    <li class="tab col s2"><a href="#spec">Spesifikasi</a></li>
                                                </ul>
                                            </div>
                                           
                                             <div class="col s12 noun">
                                                <h5>Fasilitas</h5>
                                                 <div class="col s12 m6 l3 fas_ltp ">
                                                    
                                                    <ul>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col s12 m6 l3 fas_ltp">
                                                    <ul>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                        <li>
                                                            <img src="img/icon/ic_fasiliti1.png"><span>Loading Service <i class="fa fa-check"></i></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col s12 noun">
                                                <div class="col l12 m12 s12 ltds">
                                                    <p class="text-grey text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it</p>
                                                </div>
                                                
                                            </div>
                                           
                                            <div class="col s12 noun">
                                                <div class="col s12 m12 l4 bor-right height-trtn">
                                                    <h5>Tipe Armada</h5>
                                                    <ul>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Jenis Fleet:</div>
                                                            <div class="col s12 m6 l6">Bak Tertutup</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Merk:</div>
                                                            <div class="col s12 m6 l6">Hyno</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Tahun Pembuatan:</div>
                                                            <div class="col s12 m6 l6">2009</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Tahun Perakitan:</div>
                                                            <div class="col s12 m6 l6">2004</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">ID Gps:</div>
                                                            <div class="col s12 m6 l6">Long25445,</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Klasifikasi Produk:</div>
                                                            <div class="col s12 m6 l6">CHO2,H2O,GHO9</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col s12 m12 l4  ">
                                                    <h5>Ukuran Karoseri</h5>
                                                    <ul>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Volume:</div>
                                                            <div class="col s12 m6 l6">P: 20 M, L: 20M, T: 20M</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Kapasitas Isi:</div>
                                                            <div class="col s12 m6 l6">200 Ton</div>
                                                        </li>
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Kapasitas Daya ANgkut:</div>
                                                            <div class="col s12 m6 l6">400 Ton</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col s12 m12 l4 bor-left height-trtn">
                                                    <h5>Legalitas Armada</h5>
                                                    <ul>
                                                        
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Nomor Polisi:</div>
                                                            <div class="col s12 m6 l6">BA 2055852 EZ</div> 
                                                        <li class="col s12 nopadding text-grey text-light">
                                                            <div class="col s12 m6 l6">Nomor Kur:</div>
                                                            <div class="col s12 m6 l6">00025455485551</div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                        <div class="result_container_res" style="display: none;">
                            <div class="row m-b-0 result-container">
                                <div class="col s12 m3 l2 img-result">
                                    <div class="n_C">PT POS INDONESIA</div>
                                    <img src="img/trr1.png">
                                </div>
                                <div class="col l2 m3 result_tj">
                                    <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                    <h5 class="tj_wak">16:30</h5>
                                    <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                </div>
                                <div class="col l2 m3 s4 result_tj ">
                                    <div class="img_fleet hide-on-small-only "><img src="img/icon/ic_result1.png"></div>
                                    <h6 class="tj_dewak">Senin, 23 Okt</h6>
                                    <h5 class="tj_wak">16:30</h5>
                                    <h6 class="tj_tuj">Senin, 23 Okt</h6>
                                </div>
                                <div class="col l2 m3 s4 result_tj tj_dr">
                                    <h5 class="tj_wak">2j 53 m</h5>
                                    <h6 class="tj_tuj">Transit</h6>
                                </div>
                                <div class="col l2 m8 s12 ket_rs">
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_tr_rs1.png"><span> Truck </span>
                                    </div>
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_kg_tn1.png"><span> 20 Ton </span>
                                    </div>
                                    <div class="ct_ktr">
                                        <img src="img/icon/ic_dmns1.png"><span> 200x200x200 </span>
                                    </div>
                                </div>
                                <div class="col l2 m12   s12 ket_rs_btn">
                                    <div class="col s12">
                                        <a href="#modalbeforelogin" class="waves waves-effect  btn btn-block btn-warning modal-trigger" >Pilih</a>
                                        <br>
                                        <br>
                                        <a href="#" class="waves waves-effect  btn btn-block btn-warning-outline detail_see">Lihat Detail</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row detail_result_tt m-b-0" style="display: none;">
                                <div class="row m-b-0  m-r-0 m-l-0  load_result"></div> 
                            </div> 
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </main>
  <!-- Modal Structure -->
  <div id="modalbeforelogin" class="modal">
  <div class="modal-header">
      <h6 class="left"></h6>
      <a href="#!" class="modal-action modal-close right"><i class=" material-icons">clear</i></a>
  </div>
    <div class="modal-content center-align">
       <img src="img/swal2-warning.png">
       <h5>Untuk Melanjutkan Order <br><small>Silahkan Login Terlebih Dahulu</small></h5>
       <a href="Signup" class="waves waves-effect btn btn-warning ">Login</a>

    </div>
    <div class="modal-footer">
    <p>Belum Punya Akun ? Silahkan <a href=""> Daftar</a></p>
     
    </div>
  </div>


      <% include ../partials/footer %>
    <script>
 
    $(document).ready(function() {  
       
    $('#modalbeforelogin').modal({
     dismissible: false
   });       
     


var slider = document.getElementById('range');

    noUiSlider.create(slider, {
        start: [ 20, 80 ], // Handle start position
        step: 0, // Slider moves in increments of '10'
        margin: 20, // Handles must be more than '20' apart
        connect: true, // Display a colored bar between the handles
        behaviour: 'tap-drag', // Move handle on tap, bar is draggable
        range: { // Slider can select '0' to '100'
            'min': 0,
            'max': 100
        }
    });

    var minCostInput = document.getElementById('minCost'),
        maxCostInput = document.getElementById('maxCost');

    // When the slider value changes, update the input and span
    slider.noUiSlider.on('update', function( values, handle ) {
        if ( handle ) {
            maxCostInput.value = values[handle];
        } else {
            minCostInput.value = values[handle];
        }
    });

    minCostInput.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });

    maxCostInput.addEventListener('change', function(){
        slider.noUiSlider.set([null, this.value]);
    });




         $('.select_satuan').material_select();
         $('input.autocomplete_perusahaan').autocomplete({
                data: {
                  "bgr": null,
                  "Pos Indonesia": null,
                  "Sarinah": null
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function(val) {
                  // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
              });
           $('input.autocomplete_kota').autocomplete({
                data: {
                  "Bandung(BDO)": null,
                  "Jakarta(CGK)": null,
                  "Yogyakarta(YGK)": null
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function(val) {
                  // Callback function when value is autcompleted.
                },
                minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
              }); 

        $('.collapsible').collapsible('open', 0);
        $('main').addClass('m-b-200');
        var $pb = $('.progress .determinate');
        // var this_is = $('div div.item').length;
        var $VdepartReturn = $('div.result_container_res');
        var $Vdepart = $('div.depart .reviews-item')
        var index = index + 1;
        var baris = 0;
        var check_departReturn = 0;
        var check_depart;
        var checkdepart = 0;
        departReturn();
        function departReturn() {

            $VdepartReturn.each(function(index) {
                baris = index + 1;
            });
            baris = 100 / baris;
            $VdepartReturn.each(function(index) {
                index = index + 1;
                $(this).delay(1000 * index).slideDown(1000, function() {
                    var em = baris * index;

                    if (em == 100) {
                        $('.progress').delay(1000).slideUp(100);
                    };
                });
            });
        }

    });
    $('.multiple-filter').material_select();
    </script>
</body>

</html>