<% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Lihat Semua Notifikasi</a>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85">
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                        <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                <a href="#" class="text-primary">Notifikasi <span class="circle-nav">1</span></a>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                    <div class="collapsible-header active text-primary">Data Diri</div>
                                    <div class="collapsible-body active">
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                        <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                        <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                        <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                    <div class="collapsible-body   active">
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                        <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0">
                        <div class="col s12 l12 m12  ">
                                  <div class="input-field input-group-search ">
                                      <input id="search" type="search" required>
                                      <span for="search"><i class="material-icons">search</i></span>
                                      <!-- I've put "red-text" class to emphasize -->
                                      <i class="material-icons ">close</i>
                                    </div>

                        </div>
                    </div>
                    <div class="col l9 m12 s12 nopadding card m-t-0 message_delete" onclick="javascript:window.location.href='detail_daftar_jasa'" >
                        <div class="col s12 l12 m12 title-list">
                            <div class="col s1 m1 l1">
                                <img src="img/logoB.png" class="responsive-img" alt="">
                            </div>
                            <div class="col s4 m4 l4 nopadding ">
                              <h6 class="nomargin text-primary  fn-16">Jasa Angkutan</h6>
                              <p class=" m-t-5 m-b-0 text-grey fn-12">Jasa Angkutan Jakarta-Surabaya</p>
                            </div>  
                            <div class="col s5 m5 l5 nopadding">
                                <p class="text-grey light fn-14 nomargin"><strong>Jakarta-Surabaya</strong> Lorem Ipsum do lor sir Amet sium ma gadagaskar gartu.......</p>
                            </div>
                            <div class="col s2 m2 l2 right-align"> 
                                <span class="notification_new">New</span>
                                <span class="delete_message"><i class=" fa fa-close text-red"></i></span>
                                <p class="  nomargin text-grey fn-14 notification_new_time">12:OO AM</p>
                            </div>    
                        </div> 
                    </div>
                       
                </div>
            </div>
        </section>
    </main>
    <% include ../partials/footer %>
        <script type="text/javascript">
        $(document).ready(function() {
            $('.message_delete').mouseover(function(){
                $(this).find('.delete_message').fadeIn();

            });
            $('.message_delete').mouseleave(function(){
                 $(this).find('.delete_message').fadeOut();
            });
            $('.delete_message').click(function(){
                $(this).parent().parent().parent().remove();
            });
        var inlinestart = true;
        $('.start_hstry li a').click(function(){
            if (inlinestart ==  true ) {
               $(this).find('i').text('star'); 
               inlinestart = false;
           } else if (inlinestart ==  false){
             $(this).find('i').text('star_border');
             inlinestart = true;
           }
           return false;
            
        });
        $('ul.tabs-daftar-jasa').tabs({
          swipeable : false
        }); 
            $('.tabs-contact-setting').tabs();
            $('.selectmaterial').material_select();
            $('.select2_normal').select2();
            $('.datepicker').pickadate();
           

        });
        </script>
        </body>

        </html>