 <% include ../partials/header_after_login %>
    <main class="p-b-40">
        <section class="breadcump ">
            <div class="container  ">
                <div class="row">
                    <div class=" col l12  m12 s12 rslt-breadcump m-t-10">
                        <a href="/" class="waves-effect waves-light "><i class=" material-icons circle">arrow_back</i></a>
                        <a href="#"> Setting Account</a> 
                    </div>
                    
                </div>
            </div>
        </section>
        <section>
            <div class="container w-85"> 
                <div class="row">
                    <div class="col l3 m12 s12   p-l-0 p-r-0">
                         <div class="col s12   data_profile">
                            <div class="col s12   center-align bor-bot ">
                                <img src="img/example.jpg" width="120px;" class="circle p-t-20 responsive-img">
                                <h6 class="text-primary">Silvi Madagascar</h6>
                                <p class="text-grey m-t-0">Manager Accounting</p>
                            </div>
                            <div class="col s12 prog bor-bot">
                                 <p class="kelprofile_detail">kelengkapan profile   <span>70%</span></p>
                                <div class="progress ">
                                      <div class="determinate" style="width: 70%"></div>
                                </div> 
                                <p class="text-primary" >Silahkan Lengkapi Data Diri Anda    </p>
                            </div>
                            <ul class="collapsible data_profile_ul  m-t-0" data-collapsible="expandable">
                                <li>
                                  <div class="collapsible-header active text-primary">Data Diri</div>
                                  <div class="collapsible-body active">
                                       
                                        <a href="#"><i class="material-icons">person</i>Bayu Salman</a>
                                         <a href="#"><i class="material-icons">phone</i>0875811125</a>
                                          <a href="#"><i class="material-icons">people</i>Laki-Laki</a>
                                          <a href="#"><i class="material-icons">date_range</i>12 Mei 1993</a> 
                                   </div>
                                </li>
                                 <li>
                                  <div class="collapsible-header active text-primary active">Data Perusahaan</div>
                                  <div class="collapsible-body   active">
                                       
                                        <a href="#"><i class="material-icons">business</i>PT POS INDONESIA</a>
                                         <a href="#"><i class="material-icons">business</i>PT POS INDONESIA <br>Jakarta Pusat Senen</a>
                                          <a href="#"><i class="material-icons">phone_in_talk</i>087585664582</a>
                                        
                                   </div>
                                </li>  
                              </ul>
                         </div>
                    </div>
                    <div class="col l9 m12 s12 p-l-30">  
                        <div class="row z-depth-2 bor-grey">
                         
                                <div class="col s12   ">
                                    <ul class="tabs-contact-setting">
                                        <li class="tab col s3"><a   class="active" href="#data_diri">DATA DIRI</a></li> 
                                        <li class="tab col s3"><a   href="#data_p">DATA PERUSAHAAN</a></li> 
                                    </ul>
                                </div>
                                 <div id="data_diri" class="col s12 setpadding">
                                    <div class="row m-b-0">
                                        <div class="col s4">
                                            <div class="img_upload">
                                                <input type="file"  required class="dropify" data-default-file=" " data-max-file-size="3M"/>
                                            </div>
                                        </div>
                                        <div class="col s8">  
                                          <div class="input-normal  normal_Input  col s12">
                                                <label >Nama Lengkap</label>
                                                <input type="text"  class="w-100"  placeholder="Input Nama Lengkap"   name="nama_lengkap" required=""  aria-required="true"  ></input>
                                            </div>
                                            <div class="input-normal  normal_Input  col s6">
                                                <label>Tanggal Lahir</label>
                                                  <input type="text"  class="w-100 datepicker"   placeholder="Input Tanggal Lahir"   name="nama_lengkap" required=""  required aria-required="true"  ></input>
                                            </div>
                                             <div class="input-normal  normal_Input  col s6"> 
                                                   <label>Jenis Kelamin</label> 
                                                    <select class="selectmaterial"> 
                                                      <option value="1">Laki-Laki</option>
                                                      <option value="2">Perempuan</option> 
                                                    </select> 
                                            </div>
                                           <div class="col s12 nopadding">
                                            <div class="input-normal  normal_Input  col s6">
                                                <label>No Handphone 1</label>
                                                <input type="text" required name="jumlah_item" placeholder="Input No Handphone"></input>
                                            </div>
                                           
                                            <div class="input-normal  normal_Input  col s6">
                                                <label>No Handphone 2 <sup style="color: red">Opsional</sup></label>
                                                <input type="text" name="jumlah_item" placeholder="Input jumlah Item"></input>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> 
                                <div id="data_p" class="col s12 setpadding">
                                    <div class="row m-b-0"> 
                                        <div class="input-normal  normal_Input  col s12">
                                            <label>Nama Perusahaan</label>
                                            <input type="text"   class="w-100 " required=""  name="nama_perusahaan" placeholder="Input nama perusahaan"></input>
                                        </div>
                                        <div class="input-normal  normal_Input  col s6">
                                            <label>Jabatan</label>
                                            <input type="text" name="jabatan" placeholder="input jabatan Anda" required></input>
                                        </div>
                                         <div class="input-normal  normal_Input  col s6">
                                            <label>NIP(Nomor Induk Perusahaan)</label>
                                            <input type="text" name="nip" placeholder="Input Nomor Induk Perusahaan" required></input>
                                        </div>  
                                         <div class="input-normal  normal_Input  col s6"> 
                                                   <label>Pilih Kota</label> 
                                                    <select class="select2_normal"> 
                                                      <option value="1">Jembar</option>
                                                      <option value="2">Surabaya</option> 
                                                      <option value="2">Denpasar</option> 
                                                       <option value="2">Jakarta</option> 
                                                    </select> 
                                        </div>
                                          <div class="input-normal  normal_Input  col s6"> 
                                                   <label>Pilih Provinsi</label> 
                                                    <select class="select2_normal"> 
                                                      <option value="1">Jawa Barat</option>
                                                      <option value="2">Jawa Tengah</option> 
                                                      <option value="2">Denpasar</option> 
                                                       <option value="2">Jawa Timur</option> 
                                                    </select> 
                                        </div> 

                                          <div class="input-normal  normal_Input  col s6"> 
                                                   <label>Lokasi</label> 
                                                    <select class="select2_normal"> 
                                                      <option value="1">Jembar</option>
                                                      <option value="2">Surabaya</option> 
                                                      <option value="2">Denpasar</option> 
                                                       <option value="2">Jakarta</option>  
                                                    </select> 
                                        </div>  
                                        <div class="input-normal  normal_Input  col s6">
                                            <label>Kode Pos</label>
                                            <input type="text" name="kode_pos" placeholder="Input Kode Pos"></input>
                                        </div> 
                                        <div class="input-normal  normal_Input  col s12">
                                            <label>Alamat Detail Kantor</label>
                                            <input type="text"  class="w-100" name="detail_alamat" placeholder="Input Detail Alamat"></input>
                                        </div> 
                                    </div>
                                </div> 
                               <div class="col s12 m4 m-b-20 center-align btn-change-pswd ">
                                     <button data-target="modal_change_password"  class="btn btn-warning-outline waves waves-effect  modal-trigger"><i class="material-icons">vpn_key</i> Ubah Password</button> 
                                </div>
                                <div class="col s12 m8  right-align">
                                   <button type="submit" class="btn btn-warning waves waves-effect ">Update Profile</button>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
<div id="modal_change_password" class="modal modal-small h-auto">
  <div class="modal-header"> 
        
  <div class="col s12 head_kata_Sandi"><h6>Ubah Kata Sandi <a href="#!" class="modal-action modal-close right"><i class=" material-icons">clear</i></a></h6></div>
  </div>
    <div class="modal-content  ">
       <form>
          <div class="input-normal  normal_Input  col s6">
              <label class="text-primary">Kata Sandi Lama</label>
              <input type="text" name="kode_pos" placeholder="Input Kata Sandi Lama"></input>
          </div> 
          <div class="input-normal  normal_Input  col s6">
              <label class="text-primary">Kata Sandi Baru</label>
              <input type="text" name="kode_pos" placeholder="Input Kata Sandi"></input>
          </div> 
          <div class="input-normal  normal_Input  col s6">
              <label  class="text-primary">Confirmasi Kata Sandi </label>
              <input type="text" name="kode_pos" placeholder="Konfirmasi Kata Sandi"></input>
          </div>  
       </form>
        

    </div>
   <div class="modal-footer nopadding h-auto">
       <div class="col s12 right-align nopadding st-me">
          <button data-target="modal_change_password" class=" modal-action modal-close  waves waves-effect btn btn-warning-outline">Batal</button>
           <button class="waves waves-effect btn btn-warning">Simpan</button>
      </div>
     
    </div>
  </div>
    </main>
      <% include ../partials/footer %> 
    <script type="text/javascript">
    

       $('#modal_change_password').modal({
     dismissible: false
   });       
     
           $(document).ready(function(){ 
            $('.tabs-contact-setting').tabs();
             $('.selectmaterial').material_select();
              $('.select2_normal').select2();
            $('.datepicker').pickadate();
    $('.dropify').dropify({
    messages: {
        'default': 'Drag and drop a file here or click',
        'replace': 'Drag and drop or click to replace',
        'remove':  'Remove',
        'error':   'Ooops, something wrong happended.'
    },
     error: {
        'fileSize': 'The file size is too big ({{ value }} max).',
        'minWidth': 'The image width is too small ({{ value }}}px min).',
        'maxWidth': 'The image width is too big ({{ value }}}px max).',
        'minHeight': 'The image height is too small ({{ value }}}px min).',
        'maxHeight': 'The image height is too big ({{ value }}px max).',
        'imageFormat': 'The image format is not allowed ({{ value }} only).'
    },
       tpl: {
        wrap:            '<div class="dropify-wrapper"></div>',
        loader:          '<div class="dropify-loader"></div>',
        message:         '<div class="dropify-message"><span class="file-icon" /> <p style="text-align:center;">Silahkan Upload atau Drag photo Profile Anda</p><span style="color:red; font-size:12px; ">*file yang di unggah tidak lebih dari 3MB <br> *ukuran file 200x200  atau rasio 1:1 </span></div>',
        preview:         '<div class="dropify-preview"><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-infos-message">{{ replace }}</p></div></div></div>',
        filename:        '<p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p>',
        clearButton:     '<button type="button" class="dropify-clear">{{ remove }}</button>',
        errorLine:       '<p class="dropify-error">{{ error }}</p>',
        errorsContainer: '<div class="dropify-errors-container"><ul></ul></div>'
    }
});
     
  });
        
    </script>
</body>

</html>