<!DOCTYPE html>
<html>

<head>
    <title>Sinergi BUMN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="icon" type="image/png" sizes="16x16" href="img/favicon.png"> 
    <link rel="stylesheet" type="text/css" href="css/materialize.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2-materialize.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
</head>

<body class="register">
    <div class="preloader-background">
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-register white z-depth-2">
         
        <div id="register" class="col s12" >
            <form class="col s12" action="/">
                <div class="form-container">
                    <div class="col s12 center-align m-b-20">
                        <img width="220" src="img/logo.png">
                    </div>
                    <div class="row">
                        <div class="input-field  col s12">
                            <input id="name" type="text" placeholder="Input Nama Lengkap" class="validate" required="true" required>
                            <label for="name" data-error="Please enter your Name">Nama Lengkap</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field  col s12">
                            <input id="email" type="email" required="true"  placeholder="Input Email" class="validate">
                            <label for="email"  data-error="Please enter your Email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field  normal-select col s12">
                            <select class="select_material" required="" arial-required="true">
                                <option value="" disabled selected>Jenis Kelamin</option>
                                <option value="1">Laki Laki</option>
                                <option value="2">Perempuan</option>
                                <option value="3">Other</option>
                            </select>
                            <label>Jenis Kelamin</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field  normal-select col s12">
                            <select class="select_material" required="" arial-required="true" >
                                <option value="" disabled selected>Nama Perusahaan</option>
                                <option value="1">PT.Pos Indonesia</option>
                                <option value="2">PT.BGR</option>
                                <option value="3">PT.Sarinah</option>
                            </select>
                            <label>Nama Perusahaan</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="jabatan" type="text" required="true" required placeholder="Input Jabatan" class="validate">
                            <label for="jabatan"  data-error="Please enter your Position" >Jabatan</label>
                        </div>
                    </div>
                    <center>
                        <button  class="btn waves-effect waves-light btn-primary btn-block unset" type="submit" >Create Account</button>
                    </center>
                </div>
            </form>
        </div>  
        <center class="bg-trnsprt change_into">
            <h6 class="l-h-3">Sudah Punya Punya Akun ? <a href="login" class="btn-login text-primary"  >Login</a></h6>
        </center>
    </div>
    <script type="text/javascript">
    $('.select_material').material_select();

     
    </script>
</body>

</html>